<ul ng-show="mostrar">
    <li ng-repeat="email in emails">{{email}}</li>
</ul>
<input type="Text" ng-show="mostrar" ng-model="emailblacklist"></input>
<button ng-show="mostrar" ng-click="adicionar()">Adicionar</button>
