<div ng-show="mostrar">
    <div style="margin: 10px"><a href="#!/admin/conflitos">Voltar</a></div>
    <table style="margin: 10px">
        <tr style="border:1px solid grey;" ng-repeat="politico in politicos">
            <td width="200px" valign="top">
                <img ng-src="{{politico.imagemurl}}" style="margin: 10px; width:200px;"/>
            </td>
            <td style="padding: 10px" valign="top">
                <div style="margin-bottom: 5px">
                    <b>Informações do candidato</b>
                </div>
                <div>
                    Nome completo: {{politico.nomecompleto}}
                </div>
                <div>
                    Partido: {{politico.partidocandidatura}}
                </div>
                <div>
                    N<sup>o</sup>: {{politico.numero}}
                </div>
                <div>
                    Cargo: {{politico.cargocandidatura}}
                </div>
                <div>
                    Ano que disputou: {{politico.anocandidatura}}
                </div>
                <div>
                    Título de eleitor: {{politico.tituloeleitor}}
                </div>
            </td>
            <td style="padding: 10px" valign="top">
                <div><b>Mudar url do político</b></div>
                <input type="text" ng-model="politico.politicourl"/>
                <button ng-click="mudarUrl(politico)">Atualizar</button>
            </td>
        </tr>
    </table>
</div>