<ul ng-show="mostrar">
    <li><a href="#!/admin/mudancas">Log de alterações</a></li>
    <li><a href="#!/admin/politico">Criador de político</a></li>
    <li><a href="#!/admin/semestados">Consulta de politicos sem estado</a></li>
    <li><a href="#!/admin/merger">Políticos com nomes iguais</a></li>
    <li><a href="#!/admin/conflitos">Consulta de conflitos de url</a></li>
    <li><a href="#!/admin/naturalcidade">Políticos com cidade de nascimento inválida</a></li>
    <li><a href="#!/admin/testes">Estatísticas dos testes</a></li>
    <li><a href="#!/admin/perguntas">Perguntas e respostas (AP)</a></li>
    <li><a href="#!/admin/blacklist">Blacklist</a></li>
</ul>