<div ng-show="mostrar">
    <div style="margin: 10px"><a href="#!/admin/merger">Voltar</a></div>
    <div style="margin: 10px">
        <table>
            <tr>
                <td></td>
                <td>
                    <button style="margin: 5px" ng-click="apagar(0)">Apagar</button>
                    <button style="margin: 5px" ng-click="naoMostrar(0)">Não mostrar mais</button>
                    <button style="margin: 5px" ng-click="salvar(0)">Salvar</button>
                </td>
                <td></td>
                <td></td>
                <td>
                    <button style="margin: 5px" ng-click="apagar(1)">Apagar</button>
                    <button style="margin: 5px" ng-click="naoMostrar(1)">Não mostrar mais</button>
                    <button style="margin: 5px" ng-click="salvar(1)">Salvar</button>
                </td>
            </tr>
            <tr ng-repeat="atributo in atributos">
                <td width="100px" style="border-top: 1px solid black; padding-right: 10px">
                    {{atributo.nome}}
                </td>
                <td width="250px" style="border-top: 1px solid black">
                    <img ng-show="atributo.nome == 'imagemurl'"
                            ng-src="{{atributo.imagemurl0}}"/>
                    <span ng-show="atributo.nome != 'imagemurl'">{{atributo.pol0}}</span>
                </td>
                <td style="border-top: 1px solid black">
                    <div ng-show="atributo.nome == 'politicianId2'">
                        <button style="margin: 10px" ng-click="copiarpoliticianid2(0)"><< + </button>
                    </div>
                    <button style="margin: 10px" ng-click="copiarpara(0,atributo.nome)"
                            ng-show="atributo.nome != 'naturalcidadestring'"><<</button>
                </td>
                <td style="border-top: 1px solid black; height: 45px">
                    <div ng-show="atributo.nome == 'politicianId2'">
                        <button style="margin: 10px" ng-click="copiarpoliticianid2(1)"> + >></button>
                    </div>
                    <button style="margin: 10px" ng-click="copiarpara(1,atributo.nome)"
                            ng-show="atributo.nome != 'naturalcidadestring'">>></button>
                </td>
                <td width="250px" style="border-top: 1px solid black">
                    <img ng-show="atributo.nome == 'imagemurl'"
                         ng-src="{{atributo.imagemurl1}}"/>
                    <span ng-show="atributo.nome != 'imagemurl'">{{atributo.pol1}}</span>
                </td>
            </tr>
        </table>
    </div>
</div>