<div ng-show="mostrar">
    <div style="margin: 10px"><a href="#!/admin">Voltar</a></div>
    <div style="margin: 10px">mostrando {{nomes.length}} políticos repetidos</div>
    <ul>
        <li ng-repeat="nome in nomes">
            <a href="#!/admin/merger/{{nome.nome}}" >{{nome.nome}} ({{nome.total}})</a>
        </li>
    </ul>
</div>