<div style="margin: 10px" ng-show="mostrar">
    <div ng-show="loading">
        <b>Aguarde... é muita coisa para carregar</b>
    </div>
    <button ng-click="request()">Carregar prox 500</button>
    <table style="border:1px solid black; width: 100%">
        <tr>
            <td width="28%" style="padding: 5px; border-right: 1px solid black" valign="top">
                <div style="height: 300px; overflow-y: auto">
                    <b>Políticos alterados (ord. + recentes)</b>
                    <div style="margin:5px; padding: 5px" ng-repeat="politico in politicos">
                        <a href="" ng-click="selMod(politico)">{{politico.nomecandidatura}}</a> ({{politico.modificacoes.length}})<br/>
                        <div>{{politico.cargocandidatura}} - {{politico.estadocandidatura}}  {{politico.partidocandidatura}}</div>
                    </div>
                </div>
                <div style="margin-top: 12px; border-top: 1px solid black">
                    &nbsp;
                </div>
                <div style="height: 300px; overflow-y: scroll">
                    <b>Editores (ord. + recentes)</b>
                    <div style="margin:5px; padding: 5px" ng-repeat="usuario in usuarios">
                        <a href="" ng-click="selModUs(usuario)">{{usuario.nome}} - {{usuario.email}} ({{usuario.modificacoes.length}})</a>
                    </div>
                </div>
            </td>
            <td width="28%" style="padding: 5px; border-right: 1px solid black" valign="top">

                <div ng-show="selPolitico" style="border-bottom: 1px solid grey; margin-bottom: 10px">
                    <b>{{selPolitico.nomecandidatura}}</b> ({{selPolitico.modificacoes.length}})<br/>
                    <div>{{selPolitico.cargocandidatura}} - {{selPolitico.estadocandidatura}}  {{selPolitico.partidocandidatura}}</div>
                </div>
                <div ng-show="selUsuario" style="border-bottom: 1px solid grey; margin-bottom: 10px">
                    {{selUsuario.nome}} - {{selUsuario.email}} ({{selUsuario.modificacoes.length}})
                </div>

                <b>Últimas propriedades alterdas</b>
                <div style="margin:5px; padding: 5px" ng-repeat="propriedade in propriedades">
                    <a href="" ng-click="selProp(propriedade)">{{propriedade.nome}} ({{propriedade.modificacoes.length}})</a>
                </div>
            </td>
            <td width="44%"  style="padding: 5px;" valign="top">
                <div ng-show="selPropriedade" style="border-bottom: 1px solid grey; margin-bottom: 10px">
                    {{selPropriedade.nome}} ({{selPropriedade.modificacoes.length}})
                </div>
                <b>O que foi alterado</b>
                <div style="margin:5px; padding: 5px" ng-repeat="mod in modificacoes">
                    <b>{{mod.datacriacao}}</b><br/>
                    <div><b>{{mod.texto1}}</b></div>
                    <div>{{mod.texto2}}</div>
                    {{mod.novovalor}}
                </div>
            </td>
        </tr>
    </table>

    <!--
    politicoid:{{mudanca.politicoid}}<br/>
    usuarioid:{{mudanca.usuarioid}}<br/>
    datacriacao:{{mudanca.datacriacao}}<br/>
    nomepropriedade:{{mudanca.nomepropriedade}}<br/>
    novovalor:{{mudanca.novovalor}}<br/>
    idarray:{{mudanca.idarray}}<br/>
    status:{{mudanca.status}}<br/>
    datasubstituido:{{mudanca.datasubstituido}}<br/>
    substituidopor:{{mudanca.substituidopor}}<br/>
    datarejeitado:{{mudanca.datarejeitado}}<br/>
    dataaprovacao:{{mudanca.dataaprovacao}}<br/>
        -->
</div>