<div ng-show="mostrar">
    <div style="margin: 10px"><a href="#!/admin">Voltar</a></div>
    <table style="margin: 10px">
        <tr style="border:1px solid grey;" ng-repeat="politico in politicos">
            <td width="50px" valign="top">
                <img ng-src="{{politico.imagemurl}}" style="margin: 10px; width:200px;"/>
            </td>
            <td style="padding: 10px" valign="top">
                <div style="margin-bottom: 5px">
                    <b>Informações do candidato</b>
                </div>
                <div>
                    Nome de candidatura: {{politico.nomecandidatura}}
                </div>
                <div>
                    Nome completo: {{politico.nomecompleto}}
                </div>
                <div>
                    Partido: {{politico.partido}}
                </div>
                <div>
                    Cargo: {{politico.cargo}}
                </div>
                <div>
                    Local de nascimento: {{politico.naturalcidadestring}} / {{politico.naturalestado}}
                </div>
            </td>
            <td style="padding: 10px" valign="top">
                <div><b>Atualizar a cidade do político</b></div>
                <select class="form-control" ng-model="politico.naturalcidade"
                        ng-options="cidade.id as cidade.nome for cidade in politico.cidades">
                </select>
                <button ng-click="mudarcidade(politico)">Atualizar</button>
                <br/>
                cidade string: <input class="form-control"
                                      ng-model="politico.naturalcidadestring"/>
                <br/>
                estado string: <input class="form-control"
                                      ng-model="politico.naturalestado"/>
                <button ng-click="mudarstring(politico)">Atualizar</button>
            </td>
        </tr>
    </table>
</div>