<table>
    <tr>
        <td style="padding: 5px; border-right:1px solid black" valign="top">
            <div>
                <b>Políticos ({{pols.length}})</b>
            </div>
            <div ng-repeat="pol in pols" style="padding: 5px; margin-top: 5px; margin-bottom: 5px; border-bottom:1px solid grey">
                Politico: {{pol.politico}}<br/>
                Gabinete: {{pol.name}}<br/>
                Resp/Perg : {{pol.respondidos}}/{{pol.demandas}}<br/>
                <button ng-click="select(pol)">Ver</button>
            </div>
        </td>
        <td style="padding: 5px;" valign="top">
            <div>
                <b>Perguntas e respostas</b>
            </div>
            <div ng-repeat="perg in lista" style="padding: 5px; margin-top: 5px; margin-bottom: 5px; border-bottom:1px solid grey">
                <b>{{perg.solicitantes[0]}}</b><br/>
                <b>{{perg.titulo}}</b> - {{perg.dataCriacao}}<br/>
                {{perg.descricao}}
                <div>
                    <div ng-repeat="post in perg.posts"
                         style="margin-left: 5px; margin-top: 10px; margin-bottom: 10px; border-left: solid 1px #aaa; padding-left: 5px">
                        {{post.texto}}<br/>
                        <b>{{post.criador}} - {{post.dataCriacao}}</b>
                    </div>
                </div>
            </div>
        </td>
    </tr>
</table>