<div style="margin: 20px;" ng-show="mostrar">
    Criação de políticos<br/>
    <br/>
    <b>Informações estáticas</b>
    <table>
        <tr ng-repeat="input in staticInfo" style="border-top: 1px solid grey">
            <td width="270px">
                {{input.texto}}
            </td>
            <td>
                <input type="text" ng-model="input.valor" style="margin: 5px"
                       ng-show="input.atributo != 'estado' && input.atributo != 'partido' && input.atributo != 'cargo'"/>
                <select class="form-control" ng-model="input.valor" ng-show="input.atributo == 'estado'"
                        style="margin: 5px"
                        ng-options="estado.sigla as estado.sigla for estado in estados">
                </select>
                <select class="form-control" ng-model="input.valor"
                        ng-show="input.atributo == 'cargo'" style="margin: 5px"
                        ng-options="cargo as cargo for cargo in cargos">
                </select>
                <select class="form-control" ng-model="input.valor" style="margin: 5px"
                        ng-show="input.atributo == 'partido'"
                        ng-options="partido as partido for (partido,desc) in partidos">
                </select>
            </td>
        </tr>
    </table>
    <button ng-click="criar()">Criar</button>
</div>