<div ng-show="mostrar">
    <div style="margin: 10px"><a href="#!/admin">Voltar</a></div>
    <div style="margin: 10px">Mostrando: {{politicos.length}}</div>
    <table style="margin: 10px">
        <tr style="border:1px solid grey;" ng-repeat="politico in politicos">
            <td width="50px" valign="top">
                <img ng-src="{{politico.imagemurl}}" style="margin: 10px; width:200px;"/>
            </td>
            <td style="padding: 10px" valign="top">
                <div style="margin-bottom: 5px">
                    <b>Informações do candidato</b>
                </div>
                <div>
                    Nome de candidatura: {{politico.nomecandidatura}}
                </div>
                <div>
                    Nome completo: {{politico.nomecompleto}}
                </div>
                <div>
                    Partido: {{politico.partido}}
                </div>
                <div>
                    Cargo: {{politico.cargo}}
                </div>
                <div>
                    Local de nascimento: {{politico.naturalcidadestring}} / {{politico.naturalestado}}
                </div>
            </td>
            <td style="padding: 10px" valign="top">
                <div><b>Mudar estado do político</b></div>
                <select class="form-control" ng-model="politico.estado"
                        ng-options="estado.sigla as estado.sigla for estado in estados">
                </select>
                <button ng-click="mudarEstado(politico)">Atualizar</button>
            </td>
        </tr>
    </table>
</div>