<div ng-show="mostrar" style="margin: 10px">
    <table>
        <tr>
            <td valign="top" style="border: solid 1px grey; width: 300px" halign="right">
                <div style="margin: 10px">
                    <input type="text" placeholder="Dia" ng-model="Dia" style="width: 50px"/>
                    <input type="text" placeholder="Mes" ng-model="Mes" style="width: 50px"/>
                    <input type="text" placeholder="Ano" ng-model="Ano" style="width: 100px"/>
                </div>
                <div style="margin: 10px">
                    <button ng-click="reqTeste()" ng-disabled="loading">OK</button><img src="/img/loading2.gif" ng-show="loading"/>
                </div>
            </td>
            <td valign="top" style="border: solid 1px grey; padding-left: 30px; padding-right: 30px">
                <div style="margin: 10px">
                    Data: {{data}}
                </div>
                <div style="margin: 10px">
                    Total: {{total}}
                </div>
                <div style="margin: 10px">
                    Finalizados: {{fim}}
                </div>
                <div style="margin: 10px">
                    Tempo médio (s): {{tempo}}
                </div>
                <div style="margin: 10px">
                    N. médio de pergs. respondidas: {{respondidas}}
                </div>
                <div style="margin: 10px">
                    Shares FB: {{fb}}
                </div>
                <div style="margin: 10px">
                    Twittes: {{twitter}}
                </div>
                <div style="margin: 10px">
                    <table>
                        <tr>
                            <td style="border-right: solid 1px #eee; width: 50%" valign="top">
                                <b>Estados:</b>
                                <div ng-repeat="estado in estados" style="margin: 5px">
                                    {{estado.estado}}: {{estado.n}}
                                </div>
                            </td>
                            <td style="padding-left: 10px" valign="top">
                                <b>Cargos:</b>
                                <div ng-repeat="c in cargos" style="margin: 5px">
                                    {{c.c}}: {{c.n}}
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>
</div>