
<div style="padding: 10px; margin-bottom: 20px; width: 50%" ng-show="mostrar">

    <div class="box">
        <h1>Candidato</h1>
        <div class="form-group">
            <label class="col-sm-3 control-label">Cargo</label>
            <div class="col-sm-9">
                <select class="form-control" ng-model="cargo"
                        ng-options="cargo as cargo for cargo in cargos" ng-change="changeCargo()">
                </select>
            </div>
        </div>
        <div class="form-group" ng-show="showEstado">
            <label class="col-sm-3 control-label">Estado</label>
            <div class="col-sm-9">
                <select class="form-control" ng-model="estado" ng-change="buscarPolitico()"
                        ng-options="estado.sigla as estado.sigla for estado in estados">
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Partido</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" ng-model="partido" ng-change="buscarPolitico()">
                <img src="/img/loading2.gif" ng-show="loading"/>
            </div>
        </div>
        <div class="politico-escolhido" ng-show="msg || politico">
            <img ng-src="{{politico.imagemurl}}" ng-show="politico && politico.imagemurl"/>
            <img src="/img/noimage.png" ng-show="!politico || !politico.imagemurl"/>
            <div ng-show="!msg">
                <h2><a href="{{politico.link}}" target="_blank">{{politico.nomecandidatura}}</a></h2>
                <p>
                    <span ng-bind-html="politico.textoCandidato"></span>
                    {{politico.textoCargoLocal}}
                </p>
            </div>
            <div ng-show="msg">
                <h2>{{msg}}</h2>
            </div>
        </div>
        <p class="fineline">Não é candidato? <a href="/#!/contato">Entre em contato conosco</a> para criar a sua página</p>
    </div>

    ano: <input type="Text" ng-model="ano" style="margin-left: 43px"></input><br/>
    turno: <input type="Text" ng-model="turno" style="margin-left: 34px"></input><br/>
    votos: <input type="Text" ng-model="votosn" style="margin-left: 32px"></input><br/>
    <button ng-click="adicionar()">Adicionar</button>
</div>

<ul ng-show="mostrar">
    <li ng-repeat="voto in votos">
        {{voto.idpolitico}}<br/>
        {{voto.estado}} - {{voto.cargo}}: {{voto.votos}}
    </li>
</ul>
