<div ng-include src='"partials/header/main.html"'></div>


<div id="fb-root">
</div>
<script language="javascript" type="text/javascript">
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1&appId=327721127316035";
        fjs.parentNode.insertBefore(js, fjs);
    } (document, 'script', 'facebook-jssdk'));

</script>

<div class="share" ng-show="showCompartilhar">
    <div class="container">
        <div class="fechar pull-right">
            <a href="" ng-click="showCompartilhar = false"><img src="img/nav/fechar-teste.png" /></a>
        </div>
        <div class="foto-share">
            <img ng-src="{{numeroUm.imagemurl}}" />
        </div>
        <div class="txt-share">
            <h1>
                Mais compatível: {{numeroUm.nomecandidatura}}! <span>Compartilhe o resultado:</span>
                <a href="" ng-click="shareFB()"><img src="img/teste/facebook.png"/></a>
                <a href="" ng-click="shareTwitter()"><img src="img/teste/twitter.png" /></a>
            </h1>
        </div>
    </div>
</div>
<div class="fundo-cinza">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 editar-teste hidden-xs">
                <h4>Edite seu teste <a href="#!/teste">ou comece de novo</a> <img src="/img/loading2.gif" style="margin-left:10px" ng-show="loading"/></h4>
                <select class="form-control" ng-model="cargo" ng-change="changeCargoLocal()"
                        ng-options="cargo as cargo for cargo in cargos">
                </select>
                <select ng-model="estado" class="form-control"
                        ng-options="estado.nome for estado in estados" ng-change="changeCargoLocal()"></select>
                <div class="panel-group" id="accordion">

                    <accordion close-others="oneAtATime" class="panel-heading" ng-show="false">
                        <accordion-group is-disabled="false">
                            <accordion-heading>
                                <div class="col-xs-10">
                                    Posição sobre economia
                                </div>
                                <div class="col-xs-2">
                                    <span class="caret"></span>
                                </div>
                            </accordion-heading>
                            <div class="panel-body">
                                <div class="btn-group-vertical btn-block">
                                    <button type="button" class="btn"
                                            ng-class="{active: parseInt(answers.economia) == 0}">
                                        Direita
                                    </button>
                                    <button type="button" class="btn"
                                            ng-class="{active: parseInt(answers.economia) == 1}">
                                        Centro-direita
                                    </button>
                                    <button type="button" class="btn"
                                            ng-class="{active: parseInt(answers.economia) == 2}">
                                        Centro
                                    </button>
                                    <button type="button" class="btn"
                                            ng-class="{active: parseInt(answers.economia) == 3}">
                                        Centro-esquerda
                                    </button>
                                    <button type="button" class="btn"
                                            ng-class="{active: parseInt(answers.economia) == 4}">
                                        Esquerda
                                    </button>
                                    <button type="button" class="btn"
                                            ng-class="{active: answers.economia == null}">
                                        Não sei
                                    </button>
                                </div>
                            </div>
                        </accordion-group>
                        <accordion-group>
                            <accordion-heading>
                                <div class="col-xs-10">
                                    Posição sobre sociedade
                                </div>
                                <div class="col-xs-2">
                                    <span class="caret"></span>
                                </div>
                            </accordion-heading>
                            <div class="panel-body">
                                <div class="btn-group-vertical btn-block">
                                    <button type="button" class="btn" ng-click="mudarIdeologia(2,'sociedade')"
                                            ng-class="{active: answers.sociedade === '2'}">
                                        Liberal
                                    </button>
                                    <button type="button" class="btn" ng-click="mudarIdeologia(1,'sociedade')"
                                            ng-class="{active: answers.sociedade === '1'}">
                                        Meio termo
                                    </button>
                                    <button type="button" class="btn" ng-click="mudarIdeologia(0,'sociedade')"
                                            ng-class="{active: answers.sociedade === '0'}">
                                        Conservador
                                    </button>
                                    <button type="button" class="btn" ng-click="mudarIdeologia(-1,'sociedade')"
                                            ng-class="{active: answers.sociedade == null}">
                                        Não sei
                                    </button>
                                </div>
                            </div>
                        </accordion-group>
                        <accordion-group>
                            <accordion-heading>
                                <div class="col-xs-10">
                                    Radicalismo
                                </div>
                                <div class="col-xs-2">
                                    <span class="caret"></span>
                                </div>
                            </accordion-heading>
                            <div class="panel-body">
                                <div class="btn-group-vertical btn-block">
                                    <button type="button" class="btn"
                                            ng-class="{active: parseInt(answers.radicalismo) == 0}">
                                        Radical
                                    </button>
                                    <button type="button" class="btn"
                                            ng-class="{active: parseInt(answers.radicalismo) == 1}">
                                        Meio termo
                                    </button>
                                    <button type="button" class="btn"
                                            ng-class="{active: parseInt(answers.radicalismo) == 2}">
                                        Moderado
                                    </button>
                                    <button type="button" class="btn"
                                            ng-class="{active: answers.radicalismo == null}">
                                        Não sei
                                    </button>
                                </div>
                            </div>
                        </accordion-group>
                        <accordion-group>
                            <accordion-heading>
                                <div class="col-xs-10">
                                    Prioridade 1
                                </div>
                                <div class="col-xs-2">
                                    <span class="caret"></span>
                                </div>
                            </accordion-heading>
                            <div class="panel-body">
                                <div class="btn-group-vertical btn-block">
                                    <button type="button" class="btn"
                                            ng-repeat="prio in prioridades"
                                            ng-class="{active: answers.prioridade1 && parseInt(answers.prioridade1) == parseInt(prio.key) }">
                                        {{prio.value}}
                                    </button>
                                </div>
                            </div>
                        </accordion-group>
                        <accordion-group>
                            <accordion-heading>
                                <div class="col-xs-10">
                                    Prioridade 2
                                </div>
                                <div class="col-xs-2">
                                    <span class="caret"></span>
                                </div>
                            </accordion-heading>
                            <div class="panel-body">
                                <div class="btn-group-vertical btn-block">
                                    <button type="button" class="btn"
                                            ng-repeat="prio in prioridades"
                                            ng-class="{active: answers.prioridade2 && parseInt(answers.prioridade2) == parseInt(prio.key) }">
                                        {{prio.value}}
                                    </button>
                                </div>
                            </div>
                        </accordion-group>
                        <accordion-group>
                            <accordion-heading>
                                <div class="col-xs-10">
                                    Questao
                                </div>
                                <div class="col-xs-2">
                                    <span class="caret"></span>
                                </div>
                            </accordion-heading>
                            <div class="panel-body">
                                <div class="btn-group-vertical btn-block">
                                    <button type="button" class="btn">Concordo</button>
                                    <button type="button" class="btn active">Concordo parcialmente</button>
                                    <button type="button" class="btn">Discordo parcialmente</button>
                                    <button type="button" class="btn">Discordo</button>
                                    <button type="button" class="btn">Não sei</button>
                                </div>
                            </div>
                        </accordion-group>
                    </accordion>








                    <div class="panel panel-default box-opinioes">

                        <div class="panel-heading">
                            <h5>
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                    <div class="row">
                                        <div class="col-xs-10">
                                            Posição sobre economia
                                        </div>
                                        <div class="col-xs-2">
                                            <span class="caret"></span>
                                        </div>
                                    </div>
                                </a>
                            </h5>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="btn-group-vertical btn-block">
                                    <button type="button" class="btn" ng-click="mudarIdeologia(0,'economia')"
                                            ng-class="{active: answers.economia != null && answers.economia.toString() == '0'}">
                                        Direita
                                    </button>
                                    <button type="button" class="btn" ng-click="mudarIdeologia(1,'economia')"
                                            ng-class="{active: answers.economia != null && answers.economia.toString() == '1'}">
                                        Centro-direita
                                    </button>
                                    <button type="button" class="btn" ng-click="mudarIdeologia(2,'economia')"
                                            ng-class="{active: answers.economia != null && answers.economia.toString() == '2'}">
                                        Centro
                                    </button>
                                    <button type="button" class="btn" ng-click="mudarIdeologia(3,'economia')"
                                            ng-class="{active: answers.economia != null && answers.economia.toString() == '3'}">
                                        Centro-esquerda
                                    </button>
                                    <button type="button" class="btn" ng-click="mudarIdeologia(4,'economia')"
                                            ng-class="{active: answers.economia != null && answers.economia.toString() == '4'}">
                                        Esquerda
                                    </button>
                                    <button type="button" class="btn" ng-click="mudarIdeologia(-1,'economia')"
                                            ng-class="{active: answers.economia == null}">
                                        Não sei
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default box-opinioes">
                        <div class="panel-heading">
                            <h5>
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                    <div class="row">
                                        <div class="col-xs-10">
                                            Posição sobre sociedade
                                        </div>
                                        <div class="col-xs-2">
                                            <span class="caret"></span>
                                        </div>
                                    </div>
                                </a>
                            </h5>
                        </div>
                        <div id="collapse2" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="btn-group-vertical btn-block">
                                    <button type="button" class="btn sociedadebutton" ng-click="mudarIdeologia(2,'sociedade')"
                                            ng-class="{active: answers.sociedade && answers.sociedade.toString() == '2'}">
                                        Liberal
                                    </button>
                                    <button type="button" class="btn sociedadebutton" ng-click="mudarIdeologia(1,'sociedade')"
                                            ng-class="{active: answers.sociedade && answers.sociedade.toString() == '1'}">
                                        Meio termo
                                    </button>
                                    <button type="button" class="btn sociedadebutton" ng-click="mudarIdeologia(0,'sociedade')"
                                            ng-class="{active: answers.sociedade != null && answers.sociedade.toString() == '0'}">
                                        Conservador
                                    </button>
                                    <button type="button" class="btn sociedadebutton" ng-click="mudarIdeologia(-1,'sociedade')"
                                            ng-class="{active: answers.sociedade == null}">
                                        Não sei
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default box-opinioes">
                        <div class="panel-heading">
                            <h5>
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                                    <div class="row">
                                        <div class="col-xs-10">
                                            Radicalismo
                                        </div>
                                        <div class="col-xs-2">
                                            <span class="caret"></span>
                                        </div>
                                    </div>
                                </a>
                            </h5>
                        </div>
                        <div id="collapse3" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="btn-group-vertical btn-block">
                                    <button type="button" class="btn" ng-click="mudarIdeologia(0,'radicalismo')"
                                            ng-class="{active: answers.radicalismo != null && answers.radicalismo.toString() == '0'}">
                                        Radical
                                    </button>
                                    <button type="button" class="btn" ng-click="mudarIdeologia(1,'radicalismo')"
                                            ng-class="{active: answers.radicalismo != null && answers.radicalismo.toString() == '1'}">
                                        Meio termo
                                    </button>
                                    <button type="button" class="btn" ng-click="mudarIdeologia(2,'radicalismo')"
                                            ng-class="{active: answers.radicalismo != null && answers.radicalismo.toString() == '2'}">
                                        Moderado
                                    </button>
                                    <button type="button" class="btn" ng-click="mudarIdeologia(-1,'radicalismo')"
                                            ng-class="{active: answers.radicalismo == null}">
                                        Não sei
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default box-opinioes">
                        <div class="panel-heading">
                            <h5>
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                                    <div class="row">
                                        <div class="col-xs-10">
                                            Prioridade 1
                                        </div>
                                        <div class="col-xs-2">
                                            <span class="caret"></span>
                                        </div>
                                    </div>
                                </a>
                            </h5>
                        </div>
                        <div id="collapse4" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="btn-group-vertical btn-block">
                                    <button type="button" class="btn" ng-click="mudarIdeologia(prio.key,'prioridade1')"
                                            ng-repeat="prio in prioridades"
                                            ng-class="{active: answers.prioridade1 !=null && answers.prioridade1.toString() == prio.key.toString() }">
                                        {{prio.value}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default box-opinioes">
                        <div class="panel-heading">
                            <h5>
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                                    <div class="row">
                                        <div class="col-xs-10">
                                            Prioridade 2
                                        </div>
                                        <div class="col-xs-2">
                                            <span class="caret"></span>
                                        </div>
                                    </div>
                                </a>
                            </h5>
                        </div>
                        <div id="collapse5" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="btn-group-vertical btn-block">
                                    <button type="button" class="btn" ng-click="mudarIdeologia(prio.key,'prioridade2')"
                                            ng-repeat="prio in prioridades"
                                            ng-class="{active: answers.prioridade2 !=null && answers.prioridade2.toString() == prio.key.toString() }">
                                        {{prio.value}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default box-opinioes" ng-repeat="questao in questoes">
                        <div class="panel-heading">
                            <h5>
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse_q{{$index}}">
                                    <div class="row">
                                        <div class="col-xs-10">
                                            {{questao.titulo}}
                                        </div>
                                        <div class="col-xs-2">
                                            <span class="caret"></span>
                                        </div>
                                    </div>
                                </a>
                            </h5>
                        </div>
                        <div id="collapse_q{{$index}}" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="btn-group-vertical btn-block">
                                    <button type="button" class="btn" ng-click="mudarIdeologia(4,questao._id)"
                                            ng-class="{active: answers[questao._id] != null && answers[questao._id].toString() == '4' }">
                                        Concordo
                                    </button>
                                    <button type="button" class="btn" ng-click="mudarIdeologia(3,questao._id)"
                                            ng-class="{active: answers[questao._id] != null && answers[questao._id].toString() == '3' }">
                                        Concordo parcialmente
                                    </button>
                                    <button type="button" class="btn" ng-click="mudarIdeologia(2,questao._id)"
                                            ng-class="{active: answers[questao._id] != null && answers[questao._id].toString() == '2' }">
                                        Discordo parcialmente
                                    </button>
                                    <button type="button" class="btn" ng-click="mudarIdeologia(1,questao._id)"
                                            ng-class="{active: answers[questao._id] != null && answers[questao._id].toString() == '1' }">
                                        Discordo
                                    </button>
                                    <button type="button" class="btn" ng-click="mudarIdeologia(-1,questao._id)"
                                            ng-class="{active: answers[questao._id] == null || answers[questao._id].toString() == '0' }">
                                        Não sei
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-sm-8">
            	<div class="compartilhe">
                	Compartilhe o teste:
                    <a href="" ng-click="shareTesteFB()"><img src="img/teste/fbsharemini.png"/></a>
                    <a href="" ng-click="shareTesteTwitter()"><img src="img/teste/twittermini.png" height="22" /></a>
                </div>
                <div ng-repeat="politico in politicos"
                     ng-class="{'sem-info': politico.teste == null, 'politico-lista': politico.teste != null}">
                    <div class="no-padding" ng-show="politico.cargocandidatura != null">
                        <a href="{{politico.politicolink}}" target="_blank"><img ng-src="{{politico.imagemurl}}" /></a>
                        <div>
                            <div class="row">
                                <div class="col-xs-9">
                                    <h2><span ng-show="politico.teste > -1000000">{{$index + 1 + paddingIndex}}.</span> <a href="{{politico.politicolink}}" target="_blank">{{politico.nomecandidatura}}</a></h2>
                                    <p>
                                        Candidato a {{politico.cargocandidatura}}, N<sup>o</sup> {{politico.numero}}<br />
                                        {{politico.textoCargoLocal}}
                                    </p>
                                </div>
                                <div class="col-xs-3">
                                    <p class="porcentagem" ng-show="politico.teste > -1000000">{{Math.round((politico.teste - minPts) * 100 / (maxPts - minPts))}}%</p>
                                    <div class="barra-total-resultado" ng-show="politico.teste > -1000000">
                                        <div class="barra-porcentagem-resultado" ng-style="{width: ((politico.teste - minPts) * 100 / (maxPts - minPts)) + '%'}"></div>
                                    </div>
                                </div>

                                <button class="btn btn-large btn-primary" ng-show="politico.gabinete" ng-click="pergunte(politico.politicolink)">Pergunte ao político</button>
                                <!--
                                <div class="col-xs-12" ng-show="false">
                                    <button class="btn btn-primary bt-secao">Fazer pergunta</button>
                                    <p>O candidato respondeu 30 de 42 perguntas</p>
                                </div>
                                -->
                            </div>
                        </div>
                    </div>
                    <div class="no-padding" ng-show="politico.partidos != null">
                        <img src="/img/coligacao.png" />
                        <div>
                            <div class="row">
                                <div class="col-xs-9">
                                    <h2>
                                        <span ng-show="politico.teste > -1000000">{{$index + 1 + paddingIndex}}.</span>
                                        Coligação:
                                    </h2>
                                    <p>
                                        {{politico.composicao}}
                                    </p>
                                </div>
                                <div class="col-xs-3">
                                    <p class="porcentagem" ng-show="politico.teste > -1000000">{{Math.round((politico.teste - minPts) * 100 / (maxPts - minPts))}}%</p>
                                    <div class="barra-total-resultado" ng-show="politico.teste > -1000000">
                                        <div class="barra-porcentagem-resultado" ng-style="{width: ((politico.teste - minPts) * 100 / (maxPts - minPts)) + '%'}"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h4 ng-show="politico.teste == null">Candidatos ainda sem informações</h4>
                    <p ng-show="politico.teste == null">Conhece algum deles? Complete o perfil e ajude a melhorar o Repolítica!</p>
                </div>
                <div class="paginacao" ng-show="!loading">
                    <ul class="pagination">
                        <li ng-class="{disabled: pagina == 1}">
                            <a href="" ng-disabled="pagina == 1"
                               ng-click="mudarPagina(pagina-1)">&laquo;</a>
                        </li>
                        <li ng-class="{active: pagina == pag}"
                            ng-repeat="pag in pags">
                            <a href="" ng-disabled="pagina == pag"
                               ng-click="mudarPagina(pag)">{{pag}}</a>
                        </li>
                        <li ng-class="{disabled: totalPagina.length <= pagina}">
                            <a href="" ng-disabled="totalPagina.length <= pagina"
                               ng-click="mudarPagina(pagina+1)">&raquo;</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>