<div class="container">

    <div class="row">
        <div class="col-sm-6">
            <p class="perfil-edicao">
                <a href="" onclick="window.history.back()">
                    <img src="https://s3.amazonaws.com/prd-repolitica/0static/img/nav/setinha-esquerda-cinza.png" />
                    voltar
                </a>
            </p>
        </div>
    </div>
    
    <!--primeiro form-->
    <div class="row" ng-show="introForm">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="topo-login">
                <p><img src="https://s3.amazonaws.com/prd-repolitica/0static/img/home/marca-login.png" /></p>
                <p><img src="https://s3.amazonaws.com/prd-repolitica/0static/img/teste/luneta.png" class="luneta" /></p>
            </div>
            <div class="box" ng-show="loadingHome">
                <h1 class="teste00">Aguarde enquanto os candidatos são carregados...</h1>
            </div>

            <div class="box" ng-show="!loadingHome">
                <h1 class="teste0">Conheça os políticos mais compatíveis com você</h1>
                <form role="form">
                    <div class="form-group">
                        <label>Estado onde você vota</label>
                        <select ng-model="estado" class="form-control"
                                ng-options="estado.nome for estado in estados" ng-change="changeEstado()"></select>
                    </div>
                    <div class="form-group" ng-show="false">
                        <label>Cidade onde você vota</label>
                        <select ng-model="cidade" class="form-control"
                                ng-options="cidade.nome for cidade in cidades"></select>
                    </div>
                    <div class="form-group">
                        <label>Cargo</label>

                        <select class="form-control" ng-model="cargo"
                                ng-options="cargo as cargo for cargo in cargos">
                        </select>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" ng-click="secondForm()" ng-disabled="loading">
                        <img src="https://s3.amazonaws.com/prd-repolitica/0static/img/loading2.gif" ng-show="loading" style="margin-right: 15px"/>
                        Começar o teste de compatibilidade</button>
                </form>
                <div class="porque"><a href="/#!/como-usar">Como aproveitar ao máximo o teste de compatibilidade?</a></div>
            </div>
        </div>
    </div>

    <!--forms dinamicos-->
    <div class="row" ng-show="otherForms">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="topo-login">
                <p><img src="https://s3.amazonaws.com/prd-repolitica/0static/img/home/marca-login.png" /></p>
            </div>
            <div class="barra-total">
                <div class="barra-porcentagem" ng-style="{'width':step * 100 / total + '%'}"></div>
            </div>
            <div class="box">
                <h1>{{title}}<small class="pergunta">{{step}} de {{total}}</small></h1>
                <div class="btn-group-lg btn-block btn-group-vertical bt-teste">
    
                    <button ng-click="nextForm(item.value)" class="btn btn-default"
                            ng-repeat="item in items" ng-mouseout="hideTooltip(qHelp)" ng-mouseover="showTooltip(item.help)">
                        {{item.text}}</button>
                </div>
                <div class="interrogacao">
                    <img src="https://s3.amazonaws.com/prd-repolitica/0static/img/teste/interrogacao.png" />
                    <div>
                        <p>{{help}}</p>
                    </div>
                </div>
            </div>

            <div class="box nav-teste ">
                <div class="pull-left">
                    <a href="" ng-click="returnForm()" ng-show="!loadingFim">
                        <img src="https://s3.amazonaws.com/prd-repolitica/0static/img/nav/setinha-esquerda.png">
                        Pergunta anterior
                    </a>
                </div>
                <div class="pull-right">
                    <a href="" ng-click="finishTest()" ng-show="showFim && !loadingFim">
                        Ver resultado
                        <img src="https://s3.amazonaws.com/prd-repolitica/0static/img/nav/setinha-direita.png">
                    </a>
                    <img src="https://s3.amazonaws.com/prd-repolitica/0static/img/loading2.gif" ng-show="loadingFim"/>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

</div>
