<!DOCTYPE html>
<html>
  <head>
    <title>Repolitica - Erro 404</title>
      <META http-equiv="refresh" content="1;URL=http://www.repolitica.com.br/#!/sem-politico">
  </head>
  <body>

  </body>
</html>