
<div class="box">
    <h1>Dados da candidatura</h1>
    <div class="form-group">
        <label>Cargo a que se candidatou</label>
        <select class="form-control" ng-model="politico.cargocandidatura" ng-change="mudancaCargo()"
                ng-options="cargo as cargo for cargo in cargos">
        </select>
        <input type="text" class="form-control" ng-model="politico.cargoOutro" ng-show="showOutros"
               placeholder="Cargo político ocupado pelo político atualmente">
    </div>

    <!-- Vice-Presidente -->
    <div class="form-group" ng-show="politico.cargocandidatura == 'Presidente'">
        <label>Vice</label>
        <p ng-show="!buscarVicePresidente">
            <img ng-src="{{vicepresidente.imagemurl}}" class="foto-politico-sm" /> {{vicepresidente.nomecandidatura}} &nbsp;
            <a href="" ng-click="buscarVicePresidente = true">trocar</a>
        </p>
        <input type="text" class="form-control inputvicepresidente" ng-model="VicePresidente" ng-show="buscarVicePresidente"
               placeholder="Buscar">
    </div>

    <!-- Vice-Governador -->
    <div class="form-group" ng-show="politico.cargocandidatura == 'Governador'">
        <label>Vice</label>
        <p ng-show="!buscarViceGovernador">
            <img ng-src="{{vicegovernador.imagemurl}}" class="foto-politico-sm" /> {{vicegovernador.nomecandidatura}} &nbsp;
            <a href="" ng-click="buscarViceGovernador = true">trocar</a>
        </p>
        <input type="text" class="form-control inputvicegovernador" ng-model="ViceGovernador" ng-show="buscarViceGovernador"
               placeholder="Buscar">
    </div>

    <!-- Vice-Prefeito -->
    <div class="form-group" ng-show="politico.cargocandidatura == 'Prefeito'">
        <label>Vice</label>
        <p ng-show="!buscarVicePrefeito">
            <img ng-src="{{viceprefeito.imagemurl}}" class="foto-politico-sm" /> {{viceprefeito.nomecandidatura}} &nbsp;
            <a href="" ng-click="buscarVicePrefeito = true">trocar</a>
        </p>
        <input type="text" class="form-control inputviceprefeito" ng-model="VicePrefeito" ng-show="buscarVicePrefeito"
               placeholder="Buscar">
    </div>


    <!-- Suplentes dos senadores -->
    <div class="form-group" ng-show="politico.cargocandidatura == 'Senador'">
        <label>Primeiro suplente</label>
        <p ng-show="!buscarSuplente1">
            <img ng-src="{{suplente1.imagemurl}}" class="foto-politico-sm" /> {{suplente1.nomecandidatura}} &nbsp;
            <a href="" ng-click="buscarSuplente1 = true">trocar</a>
        </p>
        <input type="text" class="form-control inputsuplente1" ng-model="suplente1" ng-show="buscarSuplente1"
               placeholder="Buscar">
    </div>
    <div class="form-group" ng-show="politico.cargocandidatura == 'Senador'">
        <label>Segundo suplente</label>
        <p ng-show="!buscarSuplente2">
            <img ng-src="{{suplente2.imagemurl}}" class="foto-politico-sm" /> {{suplente2.nomecandidatura}} &nbsp;
            <a href="" ng-click="buscarSuplente2 = true">trocar</a>
        </p>
        <input type="text" class="form-control inputsuplente2" ng-model="suplente2" ng-show="buscarSuplente2"
               placeholder="Buscar">
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-sm-12">
                <label>Ano da candidatura</label>
            </div>
            <div class="col-sm-4">
                <select class="form-control" ng-model="politico.anocandidatura"
                        ng-options="ano as ano for ano in anos" ng-change="changeAnos()">
                </select>
            </div>
        </div>
    </div>

    <div class="form-group" ng-show="mostrarpartido">
        <div class="row">
            <div class="col-sm-12">
                <label>Partido da candidatura</label>
            </div>
            <div class="col-sm-4">
                <select class="form-control" ng-model="politico.partidocandidatura"
                        ng-options="partido as partido for partido in partidos" ng-change="changePartidos()">
                </select>
            </div>
        </div>
    </div>
    <div class="form-group" ng-show="mostrarDados && mostrarnumero">
        <div class="row">
            <div class="col-sm-12">
                <label>Número do candidato</label>
            </div>
            <div class="col-sm-4">
                <input type="text" ng-model="politico.numero" placeholder="{{numeromask}}"
                       class="form-control" maxlength="{{numeromax}}" ng-focus="alert()" validate-number/>
            </div>
        </div>
    </div>

    <div class="form-group" ng-show="mostrarlocal">
        <label>Local da candidatura</label>
        <select class="form-control" ng-model="politico.estadocandidatura" ng-change="loadCidades()"
                ng-options="estado.sigla as estado.sigla for estado in estados">
        </select>
        <select class="form-control" ng-model="politico.cidadecandidatura" ng-show="mostrarcidade"
                ng-options="cidade.id as cidade.nome for cidade in cidades">
        </select>
    </div>

    <div class="form-group" ng-show="showEleito">
        <div class="row">
            <div class="col-sm-12">
                <label>Eleito?</label>
                <input type="checkbox" ng-model="politico.eleito">
            </div>
        </div>
    </div>

    <div class="form-group" ng-show="mostrarDados">
        <label for="exampleInputEmail1">Coligação</label>
        <input type="text" class="form-control" ng-model="politico.coligacao" placeholder="Nome da coligação que lançou a candidatura">
    </div>
    <button class="btn btn-lg btn-primary btn-block" ng-click="salvarproximo()">Salvar e editar próximo</button>
    <p class="sosalvar"><a href="" ng-click="salvar()">ou só salvar</a></p>
    <p style="color: red">{{error}}</p>
</div>