
<div class="box">
    <h1>Dados Pessoais</h1>
    <div class="form-group">
        <label>Nome completo</label>
        <input type="text" class="form-control" placeholder="Nome e sobrenome do político" ng-model="politico.nomecompleto">
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-sm-12">
                <label>Data de nascimento</label>
            </div>
            <div class="col-sm-3" style="float:left">
                dia <input type="text" class="form-control" ng-model="politico.nascimentodia" validate-number>
            </div>
            <div class="col-sm-3" style="float:left">
                mês <input type="text" class="form-control" ng-model="politico.nascimentomes" validate-number>
            </div>
            <div class="col-sm-3" style="float:left">
                ano <input type="text" class="form-control" ng-model="politico.nascimentoano" validate-number>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-sm-12">
                <label>Estado e cidade onde nasceu</label>
            </div>
            <div class="col-sm-6">
                <select class="form-control" ng-model="politico.naturalestado" ng-change="loadCidades()"
                        ng-options="estado.sigla as estado.sigla for estado in estados">
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <select class="form-control" ng-model="politico.naturalcidade"
                        ng-options="cidade.id as cidade.nome for cidade in cidades">
                </select>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label>Estado Civil</label>
        <input type="text" class="form-control" placeholder="" ng-model="politico.estadocivil">
    </div>
    <div class="form-group">
        <label>Ocupação</label>
        <input type="text" class="form-control" placeholder="Profissão do político" ng-model="politico.ocupacao">
    </div>
    <div class="form-group">
        <label>Escolaridade</label>
        <input type="text" class="form-control" placeholder="Grau de formação escolar do político" ng-model="politico.escolaridade">
    </div>
    <button class="btn btn-lg btn-primary btn-block" ng-click="salvar()">Salvar</button>
    <p style="color: red">{{error}}</p>
</div>