
<div class="box">
    <h1>Histórico</h1>
    <form role="form">
        <h2>Troca de partidos</h2>
        <div class="form-line" ng-repeat="polPartido in politico.partidos">
            <div class="row">
                <div class="col-sm-4">
                    <label>Partido {{$index + 1}}</label>
                    <select class="form-control" ng-model="polPartido.partido"
                            ng-options="partido as partido for partido in partidos">
                    </select>
                </div>
                <div class="col-sm-4">
                    <label>Entrada</label>

                    <select class="form-control" ng-model="polPartido.anoinicio"
                            ng-options="ano as ano for ano in anos">
                    </select>

                </div>
                <div class="col-sm-4">
                    <label>Saída</label>

                    <select class="form-control" ng-model="polPartido.anofim"
                            ng-options="ano as ano for ano in anos">
                        <option value="">hoje</option>
                    </select>

                </div>
                <div class="col-sm-1">
                    <a href="" ng-click="politico.partidos.splice($index,1)"><img src="/img/icones/excluir.png" class="excluir-partidos" /></a>
                </div>
            </div>
        </div>
        <button class="btn btn-default" ng-click="politico.partidos.push({partido:'Sem partido'})">+ Incluir partido</button>
        <h2>Biografia <span class="caracteres" id="rem_biografiaText" title="1000">1000</span></h2>
        <div class="form-group">
            <textarea class="form-control" rows="8" placeholder="Escreva aqui uma curta biografia do político"
                      ng-model="politico.biografia"
                      id="biografiaText" maxlength="1000"></textarea>
        </div>
        <button class="btn btn-lg btn-primary btn-block" ng-click="salvarproximo()">Salvar e editar próximo</button>
        <p class="sosalvar"><a href="" ng-click="salvar()">ou só salvar</a></p>
        <p style="color: red">{{error}}</p>
    </form>
</div>