
<div class="box">
    <h1>Ideologia</h1>
    <div class="form-group">
        <label><img src="/img/icones/ideologia-economia.png" /> Economia</label>
        <select class="form-control" ng-model="politico.economia"
                ng-options="eco.k as eco.value for eco in economia" ng-change="changeEco()">
        </select>
            <!--<option>Não sei</option>-->
        <p class="definicao-edicao">{{ecoText}}</p>
    </div>
    <div class="form-group">
        <label><img src="/img/icones/ideologia-sociedade.png" /> Sociedade</label>
        <select class="form-control" ng-model="politico.sociedade"
                ng-options="soc.k as soc.value for soc in sociedade" ng-change="changeSoc()">
        </select>
        <p class="definicao-edicao">{{socText}}</p>
    </div>
    <div class="form-group">
        <label><img src="/img/icones/ideologia-radicalismo.png" /> Radicalismo</label>
        <select class="form-control" ng-model="politico.radicalismo"
                ng-options="rad.k as rad.value for rad in radicalismo" ng-change="changeRad()">
        </select>
        <p class="definicao-edicao">{{radText}}</p>
    </div>
    <div class="form-group">
        <label><img src="/img/icones/ideologia-prioridade1.png" /> Prioridade 1</label>
        <select class="form-control" ng-model="politico.prioridades[0]"
                ng-options="pr.k as pr.value for pr in prioridades" ng-change="changePrio(0)">
        </select>
        <p class="definicao-edicao">{{prioText0}}</p>
    </div>
    <div class="form-group">
        <label><img src="/img/icones/ideologia-prioridade2.png" /> Prioridade 2</label>
        <select class="form-control" ng-model="politico.prioridades[1]"
                ng-options="pr.k as pr.value for pr in prioridades" ng-change="changePrio(1)">
        </select>
        <p class="definicao-edicao">{{prioText1}}</p>
    </div>
    <button class="btn btn-lg btn-primary btn-block" ng-click="salvarproximo()">Salvar e editar próximo</button>
    <p class="sosalvar"><a href="" ng-click="salvar()">ou só salvar</a></p>
    <p style="color: red">{{error}}</p>
</div>