<div class="box">
    <h1>Informações Principais</h1>
    <div class="form-group">
        <label>Nome na urna</label>
        <input type="text" class="form-control" ng-model="politico.nomecandidatura"
               placeholder="Nome na urna do político na última eleição">
    </div>
    <div class="form-group">
        <label>Cargo atual</label>
        <select class="form-control" ng-model="politico.cargo" ng-change="mudancaCargo()"
                ng-options="cargo as cargo for cargo in cargos">
        </select>
        <input type="text" class="form-control" ng-model="politico.cargoOutro" ng-show="showOutros"
               placeholder="Cargo político ocupado pelo político atualmente">
    </div>
    <div class="form-group">
        <label>Partido atual</label>
        <select class="form-control" ng-model="politico.partido"
                ng-options="partido as partido for (partido,desc) in partidos">
        </select>
    </div>
    <div class="form-group">
        <label>Estado e cidade de atuação</label>
        <select class="form-control" ng-model="politico.estado" ng-change="loadCidades()"
                ng-options="estado.sigla as estado.sigla for estado in estados">
        </select>
        <select class="form-control" ng-model="politico.cidade"
                ng-options="cidade.id as cidade.nome for cidade in cidades">
        </select>
    </div>


    <img ng-src="{{ imagemurl }}" class="trocarfoto"/>
    <a href="" onclick="$('#fileupload').click()">Trocar foto</a>
    <input id="fileupload" type="file" style="display: none"
           name="files[]" accept="image/*" ng-file-select="onFileSelect($files)"/>

    <button class="btn btn-lg btn-primary btn-block" ng-click="salvarproximo()">Salvar e editar próximo</button>
    <p class="sosalvar"><a href="" ng-click="salvar()">ou só salvar</a></p>
    <img ng-show="saving" class="loading-right" src="/img/loading2.gif" />
    <p style="color: red">{{error}}</p>
</div>