
<div class="box">
    <h1>Opiniões sobre temas {{tituloTema}}</h1>
    <div ng-repeat="questao in questoes">
        <h2>{{questao.titulo}}</h2>
        <div class="btn-group-vertical">
            <button type="button" class="btn btn-default" ng-class="{active:respostas[questao._id].resposta == 4}" ng-click="opiniaoPolitico(questao._id,4)">
                <img src="/img/opinioes/concorda.png" class="pull-left" />Concorda
            </button>
            <button type="button" class="btn btn-default" ng-class="{active:respostas[questao._id].resposta == 3}" ng-click="opiniaoPolitico(questao._id,3)">
                <img src="/img/opinioes/concorda-parcialmente.png" />Concorda parcialmente
            </button>
            <button type="button" class="btn btn-default" ng-class="{active:respostas[questao._id].resposta == 2}" ng-click="opiniaoPolitico(questao._id,2)">
                <img src="/img/opinioes/discorda-parcialmente.png" />Discorda parcialmente
            </button>
            <button type="button" class="btn btn-default" ng-class="{active:respostas[questao._id].resposta == 1}" ng-click="opiniaoPolitico(questao._id,1)">
                <img src="/img/opinioes/discorda.png" />Discorda
            </button>
        </div>
        <p class="justificativa" ng-show="!respostas[questao._id].showJustificativa">{{respostas[questao._id].justificativa}}&nbsp;
            <a href="" ng-click="editarJustificativa(questao._id)">Editar justificativa</a>
        </p>
        <div ng-show="respostas[questao._id].showJustificativa">
            <textarea class="form-control" rows="5" maxlength="300"
                      placeholder="Escreva a justificativa para a resposta" ng-model="respostas[questao._id].justificativa"></textarea>
            <!--<button type="button" class="btn btn-default" ng-click="respostas[questao._id].showJustificativa = false">Salvar</button>-->
            <span class="caracteres">300</span>
        </div>
    </div>

    <button class="btn btn-lg btn-primary btn-block" ng-click="salvarproximo()">Salvar e editar próximo</button>
    <p class="sosalvar"><a href="" ng-click="salvar()">ou só salvar</a></p>
</div>