
<div class="box">
    <h1>Propostas</h1>
    <div class="form-line" ng-repeat="proposta in politico.propostas">
        <div class="row">
            <div class="col-xs-11">
                <h2>Proposta {{$index + 1}}</h2>
            </div>
            <div class="col-xs-1">
                <a href="" ng-click="politico.propostas.splice($index,1)"><img src="/img/icones/excluir.png" /></a>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-3">
                <label>Título</label>
            </div>
            <div class="col-sm-9">
                <input type="text" class="form-control" maxlength="50"
                       placeholder="Título da proposta" ng-model="proposta.titulo"/>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label>Descrição</label>
                <p class="caracteres">300</p>
            </div>
            <div class="col-sm-9">
                <textarea class="form-control" rows="5" maxlength="300"
                          ng-model="proposta.texto" placeholder="Descreva a proposta do candidato"></textarea>
            </div>
        </div>
    </div>
    <button class="btn btn-default" ng-click="politico.propostas.push({})">+ Incluir propostas</button>
    <button class="btn btn-lg btn-primary btn-block" ng-click="salvarproximo()">Salvar e editar próximo</button>
    <p class="sosalvar"><a href="" ng-click="salvar()">ou só salvar</a></p>
    <p style="color: red">{{error}}</p>
</div>