
<div class="box">
    <h1>Vídeos</h1>
    <div class="form-line" ng-repeat="video in politico.videos">
        <div class="row">
            <div class="col-xs-11">
                <h2>Vídeo {{$index + 1}}</h2>
            </div>
            <div class="col-xs-1">
                <a href="" ng-click="politico.videos.splice($index,1)"><img src="/img/icones/excluir.png" /></a>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-3">
                <label>Título</label>
            </div>
            <div class="col-sm-9">
                <input type="text" class="form-control" placeholder="Título do vídeo" ng-model="video.titulo" />
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-3">
                <label>URL</label>
            </div>
            <div class="col-sm-9">
                <input type="text" class="form-control" placeholder="Endereço web do vídeo" ng-model="video.url"/>
            </div>
        </div>
    </div>
    <button class="btn btn-default" ng-click="politico.videos.push({})">+ Incluir vídeo</button>
    <button class="btn btn-lg btn-primary btn-block" ng-click="salvarproximo()">Salvar e editar próximo</button>
    <p class="sosalvar"><a href="" ng-click="salvar()">ou só salvar</a></p>
    <p style="color: red">{{error}}</p>
</div>