
<div class="navbar navbar-default navbar-inverse navbar-static-top" role="navigation" ng-controller="headerCtrl"
        ng-show="!widget">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="https://s3.amazonaws.com/prd-repolitica/0static/img/icones/nav-logo.png" /></a>
        </div>
        <div class="navbar-collapse collapse">
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control inputBusca" placeholder="Encontre qualquer político" ng-model="busca" ng-keypress="keyPress($event)"/>
                </div>
            </form>
            <ul class="nav navbar-nav">
                <li><a href="/#!/teste"><img src="https://s3.amazonaws.com/prd-repolitica/0static/img/icones/nav-teste.png" />Teste de compatibilidade</a></li>
                <li class="active"><a href="/#!/lista"><img src="https://s3.amazonaws.com/prd-repolitica/0static/img/icones/nav-politicos.png" />Políticos</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" ng-show="showLogin">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Login <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/#!/login">Sou cidadão</a></li>
                        <li><a href="/#!/loginpolitico">Sou político</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Cadastrar <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/#!/cadastrocidadao">Sou cidadão</a></li>
                        <li><a href="/#!/cadastropolitico">Sou político</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" ng-show="!showLogin">
                <li><a ng-click="logout()" href="">Sair</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>