
<div class="container">
    
    <div class="row">
    	<div class="col-sm-6 col-sm-offset-3">
        	<div class="topo-login">
            	<img src="/img/home/marca-login.png" class="logo-outros" />
            </div>
        	<div class="box">
                <h1>Página não encontrada</h1>
                <p>A página que você está procurando não existe. Faça uma busca pelo político que você procura:</p>
                <div class="form-group">
        			<input type="text" class="form-control busca-outros inputBusca"
                           ng-model="busca" placeholder="Buscar" ng-keypress="keyPress($event)">
    			</div>
            </div>
            <p class="voltar-outros"><a href="/">ir para a home</a></p>
        </div>
    </div>
</div>