<div class="container">

    <div class="row">
        <div class="col-sm-6">
            <p class="perfil-edicao">
                <a href="/">
                    <img src="img/nav/setinha-esquerda-cinza.png" />
                    home
                </a>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="topo-login">
                <img src="img/home/marca-login.png" />
                <p>Ainda não tem conta? <a href="#!/cadastrocidadao">Crie sua conta</a></p>
            </div>
            <div class="box">
                <h1>Escreva seu email para redefinir a sua senha</h1>
                <div class="form-group">
                    <label>Seu email de login</label>
                    <input type="email" class="form-control" ng-model="email" ng-change="clearError()">
                </div>
                <span>Um email será enviado para que você possa redefinir a sua senha.</span>
                <button class="btn btn-lg btn-primary btn-block" ng-click="enviar()" ng-disabled="enviando">
                    <img src="/img/loading2.gif" ng-show="enviando" style="margin-right: 15px"/>
                    Enviar
                </button>
                <p style="color:red" ng-show="error">{{error}}</p>
                <p ng-show="msg">{{msg}}</p>
            </div>
        </div>
    </div>
</div>
