
<div class="footer" ng-show="!widget">
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <p>Repolítica</p>
                <ul>
                    <li><a href="/#!/sobre">O que é o Repolítica</a></li>
                    <li><a href="/#!/como-usar">Como usar bem o teste</a></li>
                    <li><a href="/#!/quem-somos">Quem somos</a></li>
                    <li><a href="/#!/na-midia">Repolítica na mídia</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <p>Informações</p>
                <ul>
                    <li><a href="/#!/contato">Contato</a></li>
                    <li><a href="/#!/termos-uso">Termos de uso</a></li>
                    <li><a href="/#!/politicas-privacidade">Política de privacidade</a></li>
                </ul>
            </div>
            <!--

            <div class="col-sm-2">
                <p>Você é político?</p>
                <ul>
                    <li><a href="/#!/cadastropolitico">Complete seu perfil</a></li>
                    <li><a href="http://www.alopolitico.com.br/#/gerenciador" target="_blank">Gerencie sua campanha com o Alô Político</a></li>
                </ul>
            </div>
            -->
            <div class="col-sm-4 col-sm-offset-4">
                <p>Siga o Repolítica</p>
                <!--
                <div class="fb-like-box" data-href="http://www.repolitica.com.br" style="background-color: white; display: none"
                     data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true"></div>
                -->
                <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Frepolitica&amp;width&amp;height=258&amp;colorscheme=dark&amp;show_faces=true&amp;header=false&amp;stream=false&amp;show_border=false&amp;appId=327721127316035" scrolling="no" frameborder="0" style="border:none; overflow:hidden;" allowTransparency="true"></iframe>
                <ul class="redes" style="display:none">
                    <li><a href="https://www.facebook.com/repolitica" target="_blank"><img src="/img/rodape/facebook.png" /></a></li>
                    <li><a href="https://www.twitter.com/repolitica" target="_blank"><img src="/img/rodape/twitter.png" /></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>