
<div class="navbar navbar-default fundo-cinza navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav" ng-show="showLogin">
                <li><a href="#!/cadastropolitico"><img src="img/home/brasao.png" />Candidato? <span>Complete seu perfil</span></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" ng-show="showLogin">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Login <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/#!/login">Sou cidadão</a></li>
                        <li><a href="/#!/loginpolitico">Sou político</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Cadastrar <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#!/cadastrocidadao">Sou cidadão</a></li>
                        <li><a href="#!/cadastropolitico">Sou político</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" ng-show="!showLogin">
                <li><a ng-click="logout()" href="">Sair</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>
</div>
<div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 topo-home">
                <h1><img src="img/home/marca.png" alt="Repolítica" title="Repolítica" /></h1>
                <h2>A maior enciclopédia colaborativa sobre políticos brasileiros</h2>
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <input type="text" class="busca form-control input-lg inputBusca"
                               placeholder="Encontre qualquer político" autocomplete="off"
                               ng-model="busca" ng-keypress="keyPress($event)"/>
                    </div>
                </div>
                <div class="row cabecas">
                    <div class="col-sm-2 col-xs-3 col-lg-2" ng-repeat="cocoruto in cocorutos"
                         ng-class="{'col-sm-offset-1':$first, 'hidden-xs':$last}">
                        <a href="{{cocoruto.link}}"><img ng-src="{{cocoruto.imagem}}" /></a>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="row">
            <div class="col-xs-12 box-home">
                <div class="row">
                    <div class="col-sm-6 home-teste">
                        <p><a href="/#!/teste"><img src="img/home/teste.png" /> &nbsp; Teste do candidato</a></p>
                        <h2>Quais políticos são mais compatíveis com você?</h2>
                        <form role="form">
                            <div class="form-group">
                                <label>Seu estado</label>
                                <select class="form-control" ng-model="estado" ng-options="estado.nome for estado in estados" ng-change="changeEstado()">
                                </select>
                            </div>
                            <!--
                            <div class="form-group">
                                <label>Sua cidade</label>
                                <select class="form-control" ng-model="cidade" ng-options="cidade.nome for cidade in cidades">
                                </select>
                            </div>-->
                            <div class="form-group">
                                <label>Cargo</label>
                                <select class="form-control" ng-model="cargo"
                                        ng-options="cargo as cargo for cargo in cargos">
                                </select>
                            </div>
                            <button class="btn btn-primary btn-lg btn-block" ng-click="goToTeste()">Começar o teste de compatibilidade</button>
                            <div class="porque"><a href="#!/como-usar">Como aproveitar ao máximo o teste de compatibilidade?</a></div>
                        </form>
                    </div>
                    <div class="col-sm-6 home-politicos">
                        <p><a href="/#!/lista"><img src="img/home/politicos.png" /> &nbsp; Políticos opinam</a></p>
                        <h2>O que eles pensam dos temas mais polêmicos?</h2>
                        <div class="btn-group-vertical btn-block">
                            <button class="btn btn-default btn-lg" ng-click="selecionarQuestao(questao)"
                                    ng-repeat="questao in questoes">{{questao.titulo}}</button>
                        </div>
                        <p class="outros"><a href="/#!/lista">E vários outros</a></p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 box-home">
            	<p><img src="img/home/pergunte.png" /> &nbsp; Pergunte a um candidato</p>
                <h2>Não decida seu voto só com promessas e opiniões</h2>
                <p class="explicacao-selecao">Baseie seu voto também no conteúdo e na forma como eles respondem às suas perguntas.</p>
                <div class="row">
                    <div class="col-sm-3">
                        <select class="form-control" ng-model="estadoCadastrado" ng-options="estado.nome for estado in estados" ng-change="ultCad()">
                        </select>
                    </div>
                </div>
                <ul class="politico-pergunte">
                    <li ng-repeat="politico in ultimoscadastrados">
                        <a href="{{politico.url}}"><img ng-src="{{politico.imagemurl}}" /></a>
                        <div>
                            <h2><a href="{{politico.url}}">{{politico.nomecandidatura}}</a></h2>
                            <p>
                                <span ng-bind-html="politico.textoCandidato"></span>
                                {{politico.textoCargoLocal}}
                            </p>
                            <button class="btn btn-lg btn-default" ng-show="politico.gabinete" ng-click="pergunte(politico.url)">Pergunte ao político</button>
                        </div>
                    </li>
                </ul>
                <a class="btn btn-lg btn-default" ng-show="ultimoscadastrados.length >= 4"
                   href="#!/lista/filtro/cadastrados/{{estadoCadastrado.sigla}}">ver todos</a>
                <div ng-show="ultimoscadastrados.length == 0">
                    Nenhum candidato cadastrado neste estado
                </div>
            </div>
            <!--
            <div class="col-xs-12 box-home selecao" ng-show="false">
                <p><img src="img/home/teste.png" /> &nbsp; Seleção do dia</p>
                <h2>Ministros candidatos</h2>
                <p class="explicacao-selecao">Conheça alguns dos ex-ministros que estão se candidatando nessas eleições.</p>
                <div class="row">
                    <!-- no máximo 6 - ->
                    <div class="col-sm-2 selecao-politico">
                        <a href="">
                            <img/>
                            <div>
                                <h3>{{nome}}</h3>
                                <p>{{texto}}</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
    -->
        </div>
    </div>
</div>
<div ng-include src='"/partials/footer.html"'></div>