<div ng-include src='"partials/header/main.html"'></div>

<div class="fundo-branco filtros">
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <h4>Status</h4>
                <div class="radio">
                    <label>
                        <input type="radio" name="eleitos" ng-model="eleitoCand"
                               value="eleitoscandidatos" ng-change="changeEleitoCand()"/>
                        Todos
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="eleitos" ng-model="eleitoCand"
                               value="recemeleitos" ng-change="changeEleitoCand()"/>
                        Recém-eleitos
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="eleitos" ng-model="eleitoCand"
                               value="eleitos" ng-change="changeEleitoCand()"/>
                        Atuais
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="eleitos" ng-model="eleitoCand"
                               value="candidatos" ng-change="changeEleitoCand()"/>
                        Candidatos
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="eleitos" ng-model="eleitoCand"
                               value="cadastrados" ng-change="changeEleitoCand()"/>
                        Cadastrados
                    </label>
                </div>
            </div>
            <div class="col-sm-4">
                <h4>Cargo</h4>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="presidente" ng-change="efetuarBusca()"/> Presidente
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="vicepresidente" ng-change="efetuarBusca()"/> Vice-Presidente
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="governador" ng-change="efetuarBusca()"/> Governador
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="vicegovernador" ng-change="efetuarBusca()"/> Vice-Governador
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="prefeito" ng-change="efetuarBusca()"/> Prefeito
                            </label>
                        </div>
                        <div class="checkbox" ng-show="false">
                            <label>
                                <input type="checkbox" ng-model="viceprefeito" ng-change="efetuarBusca()"/> Vice-Prefeito
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="senador" ng-change="efetuarBusca()"/> Senador
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="suplente" ng-change="efetuarBusca()"/> Suplente de Senador
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="deputadofederal" ng-change="efetuarBusca()"/> Deputado Federal
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="deputadoestadual" ng-change="efetuarBusca()"/> Deputado Estadual
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="deputadodistrital" ng-change="efetuarBusca()"/> Deputado Distrital
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="vereador" ng-change="efetuarBusca()"/> Vereador
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <h4>Estado e cidade</h4>
                <select class="form-control" ng-model="estado" ng-options="estado.nome for estado in estados" ng-change="changeEstado()">
                </select>
                <select class="form-control" ng-model="cidade" ng-options="cidade.nome for cidade in cidades" ng-change="changeCidade()">
                </select>
            </div>
            <div class="col-sm-3">
                <h4>Partido</h4>
                <select class="form-control" ng-model="partido" ng-options="partido as partido for partido in partidos" ng-change="efetuarBusca()">
                </select>
            </div>
        </div>
    </div>
</div>
<div class="fundo-cinza">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="opinioes">
                    <h4><img src="img/icones/tit-opiniao.png" /> Opiniões dos políticos</h4>
                    <div class="radio">
                        <label>
                            <input type="radio" name="temas" checked ng-model="questSel" value="" ng-change="mostrarTudo()"/>
                            Não mostrar opiniões
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="temas" ng-model="questSel" value="gerais"/>
                            Temas gerais
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="temas" ng-model="questSel" value="federais"/>
                            Temas federais
                        </label>
                    </div>
                    <div class="radio" ng-show="estado.sigla">
                        <label>
                            <input type="radio" name="temas" ng-model="questSel" value="estaduais"/>
                            Temas estaduais
                        </label>
                    </div>
                    <div class="radio" ng-show="cidade.id">
                        <label>
                            <input type="radio" name="temas" ng-model="questSel" value="municipais"/>
                            Temas municipais
                        </label>
                    </div>
                    <img src="img/nav/setinha-opinioes.png" class="setinha-opinioes" />
                </div>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default box-opinioes" ng-repeat="q in questoes[questSel]"
                            ng-class="{selecionada: q.in}">
                        <div class="panel-heading">
                            <h5>
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{$index}}">
                                    <div class="row">
                                        <div class="col-xs-10">
                                            {{q.titulo}}
                                        </div>
                                        <div class="col-xs-2">
                                            <span class="caret"></span>
                                        </div>
                                    </div>
                                </a>
                            </h5>
                        </div>
                        <div id="collapse{{$index}}" class="panel-collapse collapse" ng-class="{in:q.in}">
                            <div class="panel-body">
                                <div class="btn-group-vertical btn-block">
                                    <button type="button" class="btn" ng-class="{active: !q.resposta && questao.id == q._id}"
                                            ng-click="selecionarResposta(q)">Ver todas</button>
                                    <button type="button" class="btn" ng-class="{active: q.resposta==4}"
                                            ng-click="selecionarResposta(q,4)">Concorda</button>
                                    <button type="button" class="btn" ng-class="{active: q.resposta==3}"
                                            ng-click="selecionarResposta(q,3)">Concorda parcialmente</button>
                                    <button type="button" class="btn" ng-class="{active: q.resposta==2}"
                                            ng-click="selecionarResposta(q,2)">Discorda parcialmente</button>
                                    <button type="button" class="btn" ng-class="{active: q.resposta==1}"
                                            ng-click="selecionarResposta(q,1)">Discorda</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
            	<div class="vazio" ng-show="politicos.length == 0 && !buscando">
                	<img src="/img/vazio/lista.png" />
                    <p>Você está muito exigente...</p>
                    <h6>Nenhum político se enquadra na sua busca. Tente com outros filtros!</h6>
                </div>
                <div class="politico-lista" ng-repeat="politico in politicos" ng-show="!politico.hide">
                    <a href="/{{politico.url}}"><img ng-src="{{politico.imagemurl}}" /></a>
                    <div>
                        <h2><a href="/{{politico.url}}">{{politico.nomecandidatura}}</a></h2>
                        <p>
                            <span ng-bind-html="politico.textoCandidato"></span>
                            {{politico.textoCargoLocal}}
                        </p>
                        <div class="justificativa" ng-show="politico.resposta">
                            <p>
                                <span class="concorda" ng-show="politico.resposta==4"><img src="/img/opinioes/concorda.png"/> Concorda.</span>
                                <span class="parcialmente" ng-show="politico.resposta==3"><img src="/img/opinioes/concorda-parcialmente.png"/> Concorda Parcialmente.</span>
                                <span class="parcialmente" ng-show="politico.resposta==2"><img src="/img/opinioes/discorda-parcialmente.png"/> Discorda Parcialmente.</span>
                                <span class="discorda" ng-show="politico.resposta==1"><img src="/img/opinioes/discorda.png"/> Discorda.</span>
                                {{politico.justificativa}}
                            </p>
                        </div>
                        <button class="btn btn-large btn-primary" ng-show="politico.gabinete" ng-click="pergunte(politico.url)">Pergunte ao político</button>
                    </div>
                </div>
                <button class="btn btn-primary bt-lg btn-block" ng-show="showMais" style="margin-top:10px"
                        ng-click="buscaMais()" ng-disabled="buscando">
                    <img src="/img/loading2.gif" style="margin-right:10px" ng-show="buscando"/>ver mais
                </button>
            </div>
        </div>
    </div>
</div>

<div ng-include src='"partials/footer.html"'></div>