<div class="container">

    <div class="row">
        <div class="col-sm-6">
            <p class="perfil-edicao">
                <a href="" ng-click="voltar()">
                    <img src="img/nav/setinha-esquerda-cinza.png" />
                    voltar
                </a>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="topo-login">
                <img src="img/home/marca-login.png" />
                <p>Ainda não tem conta? <a href="#!/cadastrocidadao">Crie sua conta</a></p>
            </div>
            <div class="box">
                <h1>Faça login</h1>
                <form role="form" class="facebook" ng-show="false">
                    <button class="btn btn-lg btn-primary btn-block">Login via facebook</button>
                </form>
                <form role="form">
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" class="form-control" ng-model="email" ng-change="clearError()">
                    </div>
                    <div class="form-group">
                        <label>Senha</label>
                        <input type="password" class="form-control" ng-model="password" ng-change="clearError()">
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" ng-click="login()"
                            ng-disabled="loading">
                        <img src="/img/loading2.gif" ng-show="loading" style="margin-right: 15px"/>
                        Login tradicional
                    </button>
                    <p style="color:red" ng-show="error">{{error}}</p>
                    <p class="esqueci"><a href="/#!/login/reset">Esqueci minha senha</a></p>
                </form>
            </div>
        </div>
    </div>
</div>