<div class="container">

    <div class="row">
        <div class="col-sm-6">
            <p class="perfil-edicao">
                <a href="" ng-click="voltar()">
                    <img src="img/nav/setinha-esquerda-cinza.png" />
                    voltar
                </a>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="topo-login">
                <img src="img/home/marca-login.png" />
                <p>Ainda não tem conta? <a href="#!/cadastropolitico">Crie sua conta</a></p>
            </div>
            <div class="box">
                <h1>Faça login</h1>
                <iframe ng-src="{{iframeUrl}}" class="iframe-login"/>
            </div>
        </div>
    </div>
</div>