<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <p class="voltar-edicao">
                <a href="#!/">
                    <img src="/img/nav/setinha-esquerda.png" />
                    Perfil de {{politico.nomecandidatura}}
                </a>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
            <p class="perfil-edicao">
                <a href="#!/">
                    <img ng-src="{{politico.imagemurl}}" class="foto-politico-sm " />
                    {{politico.nomecandidatura}}
                </a>
            </p>


            <div class="box">
                <h1>Envie a sua pergunta</h1>
                <iframe ng-src="{{iframeUrl}}" class="iframe-pergunta"/>
            </div>

        </div>
    </div>
</div>