<div ng-include src='"/partials/header/main.html"'></div>
<div class="fundo-branco" ng-show="!widget">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="/#!/lista">Politicos</a></li>
            <li ng-show="!!politico.estadocandidatura"><a href="" ng-click="listaEstado()">{{politico.estadocandidatura}}</a></li>
            <li ng-show="!!cidade"><a href="" ng-click="listaCidade()">{{cidade}}</a></li>
            <li ng-show="!!politico.partidocandidatura"><a href="" ng-click="listaPartido()">{{politico.partido}}</a></li>
            <li>{{politico.nomecandidatura}}</li>
        </ol>
    </div>
</div>
<div class="fundo-cinza" ng-class="{'iframe-alopolitico': widget}">
    <div class="container">
        <div class="row">
        <div class="col-sm-3 col-xs-12">
            <div class="principal">
                <img ng-src="{{imagemurl}}" class="foto-politico" />
                <div class="dados-principais">
                	<h1>{{nomecandidato}}</h1>
                    <h2 ng-show="showCargoCidade">
                        {{cargo}}<br ng-show="showBrCidade" />
                    	{{local}}
                    </h2>
                    <a href="#!/infoprincipais"><div class="editar"></div></a>
                </div>
            </div>
            <div id="navbar-example2">
                <ul class="nav hidden-xs indice nav-pills nav-stacked" data-spy="affix" data-offset-top="600" data-offset-bottom="200">
                    <li class="active"><a href="#candidatura" ng-click="scrollTo('candidatura'); $event.preventDefault()">Candidatura</a></li>
                    <li><a href="#ideologia" ng-click="scrollTo('ideologia'); $event.preventDefault()">Ideologia</a></li>
                    <li><a href="#historico" ng-click="scrollTo('historico'); $event.preventDefault()">Histórico</a></li>
                    <li><a href="#opinioes" ng-click="scrollTo('opinioes'); $event.preventDefault()">Opiniões</a></li>
                    <li><a ng-show="politico.urlexcelencias" href="#atuacao" ng-click="scrollTo('atuacao'); $event.preventDefault()">Atuação</a></li>
                    <li ng-show="false"><a href="#avaliacoes" ng-click="scrollTo('avaliacoes'); $event.preventDefault()">Avaliações</a></li>
                    <li><a href="#propostas" ng-click="scrollTo('propostas'); $event.preventDefault()">Propostas</a></li>
                    <li><a href="#videos" ng-click="scrollTo('videos'); $event.preventDefault()">Vídeos</a></li>
                    <li><a href="#dadospessoais" ng-click="scrollTo('dadospessoais'); $event.preventDefault()">Dados pessoais</a></li>
                    <li ng-show="false"><a href="#similares" ng-click="scrollTo('similares'); $event.preventDefault()">Políticos similares</a></li>
                </ul>
            </div>

            <div class="fb-like" style="margin-top: 20px;" data-href="{{urlShare}}"
                 data-layout="button_count" data-action="like" data-show-faces="false" data-share="true">
            </div>
        </div>
        <div class="col-sm-9 col-xs-12">
        <div ng-show="!textoCandidatura">
            <a class="pull-right" href="#!/candidatura">Editar candidatura anterior</a></div>
            <div class="secao" id="candidatura" ng-show="textoCandidatura">
                <a class="pull-right" href="#!/candidatura"><div class="editar"></div></a>
                <h2><img src="https://s3.amazonaws.com/prd-repolitica/0static/img/icones/tit-candidatura.png" />{{textoCandidatura}}</h2>
                <div class="row" ng-show="!!politico.vice">
                    <div class="col-sm-3 topico">
                        <p>Vice</p>
                    </div>
                    <div class="col-sm-9">
                        <p><a href="{{politico.vice.link}}"><img ng-src="{{politico.vice.imagemurl}}" class="foto-politico-sm" /> {{politico.vice.nomecandidatura}}</a></p>
                    </div>
                </div>
                <div class="row" ng-show="!!politico.suplente1">
                    <div class="col-sm-3 topico">
                        <p>Primeiro Suplente</p>
                    </div>
                    <div class="col-sm-9">
                        <p><a href="{{politico.suplente1.link}}">
                            <img ng-src="{{politico.suplente1.imagemurl}}" class="foto-politico-sm" /> {{politico.suplente1.nomecandidatura}}
                        </a></p>
                    </div>
                </div>
                <div class="row" ng-show="!!politico.suplente2">
                    <div class="col-sm-3 topico">
                        <p>Segundo Suplente</p>
                    </div>
                    <div class="col-sm-9">
                        <p><a href="{{politico.suplente2.link}}">
                            <img ng-src="{{politico.suplente2.imagemurl}}" class="foto-politico-sm" /> {{politico.suplente2.nomecandidatura}}
                        </a></p>
                    </div>
                </div>
                <div class="row" ng-show="!!politico.titular">
                    <div class="col-sm-3 topico">
                        <p>{{politico.titular.cargo}}</p>
                    </div>
                    <div class="col-sm-9">
                        <p><a href="{{politico.titular.link}}">
                            <img ng-src="{{politico.titular.imagemurl}}" class="foto-politico-sm" />
                            {{politico.titular.nomecandidatura}}
                        </a></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 topico">
                        <p>Coligação</p>
                    </div>
                    <div class="col-sm-9">
                        <p ng-show="politico.coligacao">{{politico.coligacao}}</p>
                        <p ng-show="!politico.coligacao">Sem coligação</p>
                    </div>
                </div>
                <div class="row" ng-repeat="v in politico.ultvotos">
                    <div class="col-sm-3 topico">
                        <p ng-show="$first">Votos</p>
                    </div>
                    <div class="col-sm-9">
                        <p>{{v.votos}} ({{v.votosperc}}) {{v.eleitostring}}</p>
                    </div>
                </div>
            </div>
            <div class="secao pergunta" ng-show="showPergunta">
                <h2>Faça uma pergunta a {{nomecandidato}}</h2>
                <p>{{nomecandidato}} respondeu <span>{{politico.respondidos}} de {{politico.demandas}}</span> perguntas. Pergunte você também.</p>
                <button class="btn btn-lg btn-primary pull-left bt-secao" onclick="location='#!/pergunta'">Enviar pergunta</button>
                <span class="obs-pergunta">Você vai receber a resposta do político por email</span>
                <div class="clearfix"></div>
            </div>
            <div class="secao pergunta" ng-show="showNaoCadastrado || false">
                <h2>{{nomecandidato}} é você?</h2>
                <p>Cadastre-se para responder perguntas dos eleitores e completar seu perfil.</p>
                <button class="btn btn-lg btn-primary pull-left bt-secao" ng-click="cadastroPolitico()">Fazer cadastro</button><span class="obs-pergunta">É grátis!</span>
                <div class="clearfix"></div>
            </div>
            <div class="secao" id="perguntas" ng-show="showPerguntas">
            	<h2><img src="https://s3.amazonaws.com/prd-repolitica/0static/img/icones/tit-perguntas.png" />Perguntas e respostas</h2>
                <ul class="perguntas">
                	<li ng-repeat="resposta in respostas">
                    	<p class="perguntador">
                        	{{resposta.solicitantes[0]}} pergunta:
						</p>
                        <p class="a_pergunta">
                        	{{resposta.descricao || resposta.titulo}}
                            <a href="" ng-click="resposta.mostrar = false" ng-show="resposta.mostrar">Fechar resposta</a>
                            <a href="" ng-click="resposta.mostrar = true" ng-show="!resposta.mostrar">Ver resposta</a>
                        </p>
                        <div class="a_resposta" ng-show="resposta.mostrar">
                        	<p ng-bind-html="resposta.htmlResposta">
                            </p>
                        </div>
                    </li>
                </ul>                
            </div>
            <div class="secao" id="ideologia">
                <a class="pull-right" href="#!/ideologia"><div class="editar"></div></a>
                <h2><img src="https://s3.amazonaws.com/prd-repolitica/0static/img/icones/tit-ideologia.png" />Ideologia</h2>
                <div class="row vazio" ng-show="showEditarIdeologia">
                    <div class="col-xs-12">
                        <img src="https://s3.amazonaws.com/prd-repolitica/0static/img/vazio/ideologia.png" />
                        <p>
                            Direita ou esquerda?<br />
                            Liberal ou conservador?
                        </p>
                        <button class="btn btn-default bt-secao btn-lg" onclick="location='#!/ideologia'">Editar ideologia</button>
                    </div>
                </div>
                <div class="row" ng-show="economia">
                    <div class="col-sm-3 topico">
                        <p><img src="https://s3.amazonaws.com/prd-repolitica/0static/img/icones/ideologia-economia.png" />Economia</p>
                    </div>
                    <div class="col-sm-9">
                        <p><span>{{economia}}.</span> {{descEconomia}}</p>
                    </div>
                </div>
                <div class="row" ng-show="sociedade">
                    <div class="col-sm-3 topico">
                        <p><img src="https://s3.amazonaws.com/prd-repolitica/0static/img/icones/ideologia-sociedade.png" />Sociedade</p>
                    </div>
                    <div class="col-sm-9">
                        <p><span>{{sociedade}}.</span> {{descSociedade}}</p>
                    </div>
                </div>
                <div class="row" ng-show="radicalismo">
                    <div class="col-sm-3 topico">
                        <p><img src="https://s3.amazonaws.com/prd-repolitica/0static/img/icones/ideologia-radicalismo.png" />Radicalismo</p>
                    </div>
                    <div class="col-sm-9">
                        <p><span>{{radicalismo}}.</span> {{descRadicalismo}}</p>
                    </div>
                </div>
                <div class="row" ng-repeat="prioridade in prioridades">
                    <div class="col-sm-3 topico">
                        <p><img ng-src="https://s3.amazonaws.com/prd-repolitica/0static/img/icones/ideologia-prioridade{{prioridade.index}}.png" />Prioridade {{prioridade.index}}</p>
                    </div>
                    <div class="col-sm-9">
                        <p><span>{{prioridade.prioridade}}.</span> {{prioridade.texto}}.</p>
                    </div>
                </div>
            </div>
            <div class="secao" id="historico">
                <a class="pull-right" href="#!/historico"><div class="editar"></div></a>
                <h2><img src="https://s3.amazonaws.com/prd-repolitica/0static/img/icones/tit-historico.png" />Histórico</h2>
                <div class="row vazio" ng-show="!politico.partidos && !politico.biografia">
                    <img src="https://s3.amazonaws.com/prd-repolitica/0static/img/vazio/historico.png" />
                    <p>
                        Biografia ilibada ou manchada?<br />
                        Fiel ao partido ou caixeiro-viajante?
                    </p>
                    <button class="btn btn-default bt-secao btn-lg" onclick="location='#!/historico'">Completar histórico</button>
                </div>
                <div class="row" ng-show="politico.partidos">
                    <div class="col-xs-12">
                        <h4>Trocas de partido</h4>
                    </div>
                </div>
                <div class="row" ng-show="!politico.partidos && politico.biografia">
                    <div class="col-xs-12">
                        <a href="#!/historico">Editar partidos</a>
                    </div>
                </div>
                <div class="row" ng-repeat="partido in politico.partidos">
                    <div class="col-xs-3">
                        <p class="partido">{{partido.partido}}</p>
                    </div>
                    <div class="col-xs-9">
                        <p>{{partido.anoinicio}} - {{partido.anofim}}</p>
                    </div>
                </div>
                <div class="row" ng-show="politico.biografia || (!politico.biografia && politico.partidos)">
                    <div class="col-xs-12">
                    <h4>Biografia</h4>
                    <p ng-show="politico.biografia" ng-bind-html="htmlBiografia"></p>
                    <p ng-show="!politico.biografia"><a href="#!/historico">Editar biografia</a></p>
                    </div>
                </div>
            </div>
            <div class="secao" id="opinioes">
                <h2><img src="https://s3.amazonaws.com/prd-repolitica/0static/img/icones/tit-opiniao.png" />Opiniões</h2>
                <div class="row vazio" ng-show="!politico.questoes">
                    <img src="https://s3.amazonaws.com/prd-repolitica/0static/img/vazio/opinioes.png" />
                    <p>
                        Aborto? Maioridade penal?<br />
                        Bolsa-família?
                    </p>
                    <button class="btn btn-default bt-secao btn-lg" onclick="location='#!/opinioesgerais'">Editar opiniões</button>
                </div>
                <ul class="subsecao">
                	<li ng-repeat="(grupo, qGrupo) in questoes">
                        <a class="pull-right" href="#!/{{links[grupo]}}"><div class="editar"></div></a>
                        <h3 ng-show='grupo=="0"'>Temas Gerais</h3>
                        <h3 ng-show='grupo=="1"'>Temas Federais</h3>
                        <h3 ng-show='grupo=="2"'>Temas Estaduais</h3>
                        <h3 ng-show='grupo=="3"'>Temas Municipais</h3>

                        <a ng-show="qGrupo.length == 0" href="#!/{{links[grupo]}}">Editar opiniões</a>

                        <div class="row" ng-repeat="q in qGrupo">
                            <div class="col-sm-12">
                                <p class="enunciado">
                                	<a href="#" data-toggle="tooltip" title="{{q.questao.texto}}" ng-show="q.questao.texto"><img src="https://s3.amazonaws.com/prd-repolitica/0static/img/icones/tooltip.png"/></a>{{q.questao.titulo}} -
                                	<span ng-class="{concorda:q.resposta==4,parcialmente:q.resposta==3||q.resposta==2,discorda:q.resposta==1}">
                                        {{q.respostaTexto}}
                                        <img src="https://s3.amazonaws.com/prd-repolitica/0static/img/opinioes/concorda.png" ng-show="q.resposta==4"/>
                                        <img src="https://s3.amazonaws.com/prd-repolitica/0static/img/opinioes/concorda-parcialmente.png" ng-show="q.resposta==3"/>
                                        <img src="https://s3.amazonaws.com/prd-repolitica/0static/img/opinioes/discorda-parcialmente.png" ng-show="q.resposta==2"/>
                                        <img src="https://s3.amazonaws.com/prd-repolitica/0static/img/opinioes/discorda.png" ng-show="q.resposta==1"/>
                                    </span>
                                </p>
                                <p>{{q.justificativa}}</p>
                            </div>
                        </div>
                        <button class="bt-secao btn btn-default" ng-show="false">ver todas</button>
                	</li>
                </ul>
            </div>
            <div class="secao" id="atuacao" ng-show="politico.urlexcelencias">
                <p class="pull-right mais-detalhes">mais detalhes: <a class="pull-right" href="{{politico.urlexcelencias}}" target="_blank">portal Excelências</a></p>
                <h2><img src="https://s3.amazonaws.com/prd-repolitica/0static/img/icones/tit-atuacao.png" />Atuação</h2>
                <div class="row">
                    <div class="col-xs-3">
                        <p>Projetos irrelevantes</p>
                    </div>
                    <div class="col-xs-9">
                        <p>
                            <span class="concorda">{{percProjetos}}%</span><br />
                            Apresentados: {{politico.projetosapresentados}}<br />
                            Irrelevantes: {{politico.projetosirrelevantes}}
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3">
                        <p>Assiduidade</p>
                    </div>
                    <div class="col-xs-9">
                        <p>
                            <span class="discorda">{{percAssiduidade}}%</span><br />
                            Presenças: {{politico.presencas}}<br />
                            Faltas justificadas: {{politico.faltasjustificadas}}<br />
                            Faltas não-justificadas: {{politico.faltasnaojustificadas}}<br />
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3">
                        <p>Ocorrências na justiça</p>
                    </div>
                    <div class="col-xs-9">
                        <p ng-show="showOcorrencias">
                            <span class="concorda" ng-show="!showOcorrencias">Nenhuma!</span>
                        </p>
                        <p ng-repeat="ocorrencia in politico.ocorrencias">
                        </p>
                    </div>
                </div>
            </div>
                <!--
            <div class="secao" id="avaliacoes" ng-show="false">
                <h2><img src="/img/icones/tit-avaliacoes.png" />Avaliações</h2>
                <button class="btn btn-lg bt-secao btn-primary">Escrever uma avaliação</button>
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->                                                              <!--
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol>
                    <!-- Wrapper for slides -->                                                   <!--
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="avaliacao">
                                <p class="pull-right mais-detalhes"><a class="pull-right" href="">denunciar</a></p>
                                <img src="/img/icones/estrelas-2.png" /><div class="clearfix"></div>
                                <h5>Um cara ético e responsável <small>por <a href="">Fulano de Tal</a></small></h5>
                                <p>Fernando Gabeira é laro que não, e mesmo se cheirasse não te diria. Evita a intervenção do governo na economia, buscando a liberdade de mercado. Claro que não, e mesmo se cheirasse não te diria Evita a intervenção do governo na economia, buscando a liberdade de mercado. Claro que não, e mesmo se cheirasse não te diria.</p>
                            </div>
                            <div class="avaliacao">
                                <p class="pull-right mais-detalhes"><a class="pull-right" href="">denunciar</a></p>
                                <img src="/img/icones/estrelas-4.png" /><div class="clearfix"></div>
                                <h5>Um cara ético e responsável <small>por <a href="">Fulano de Tal</a></small></h5>
                                <p>Fernando Gabeira é laro que não, e mesmo se cheirasse não te diria. Evita a intervenção do governo na economia, buscando a liberdade de mercado. Claro que não, e mesmo se cheirasse não te diria Evita a intervenção do governo na economia, buscando a liberdade de mercado. Claro que não, e mesmo se cheirasse não te diria.</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="avaliacao">
                                <img src="/img/icones/estrelas-2.png" />
                                <p class="pull-right mais-detalhes"><a class="pull-right" href="">denunciar</a></p>
                                <h5>Um cara ético e responsável <small>por <a href="">Fulano de Tal</a></small></h5>
                                <p>Fernando Gabeira é laro que não, e mesmo se cheirasse não te diria. Evita a intervenção do governo na economia, buscando a liberdade de mercado. Claro que não, e mesmo se cheirasse não te diria Evita a intervenção do governo na economia, buscando a liberdade de mercado. Claro que não, e mesmo se cheirasse não te diria.</p>
                            </div>
                            <div class="avaliacao">
                                <img src="/img/icones/estrelas-2.png" />
                                <p class="pull-right mais-detalhes"><a class="pull-right" href="">denunciar</a></p>
                                <h5>Um cara ético e responsável <small>por <a href="">Fulano de Tal</a></small></h5>
                                <p>Fernando Gabeira é laro que não, e mesmo se cheirasse não te diria. Evita a intervenção do governo na economia, buscando a liberdade de mercado. Claro que não, e mesmo se cheirasse não te diria Evita a intervenção do governo na economia, buscando a liberdade de mercado. Claro que não, e mesmo se cheirasse não te diria.</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="avaliacao">
                                <img src="/img/icones/estrelas-2.png" />
                                <p class="pull-right mais-detalhes"><a class="pull-right" href="">denunciar</a></p>
                                <h5>Um cara ético e responsável <small>por <a href="">Fulano de Tal</a></small></h5>
                                <p>Fernando Gabeira é laro que não, e mesmo se cheirasse não te diria. Evita a intervenção do governo na economia, buscando a liberdade de mercado. Claro que não, e mesmo se cheirasse não te diria Evita a intervenção do governo na economia, buscando a liberdade de mercado. Claro que não, e mesmo se cheirasse não te diria.</p>
                            </div>
                            <div class="avaliacao">
                                <img src="/img/icones/estrelas-2.png" />
                                <p class="pull-right mais-detalhes"><a class="pull-right" href="">denunciar</a></p>
                                <h5>Um cara ético e responsável <small>por <a href="">Fulano de Tal</a></small></h5>
                                <p>Fernando Gabeira é laro que não, e mesmo se cheirasse não te diria. Evita a intervenção do governo na economia, buscando a liberdade de mercado. Claro que não, e mesmo se cheirasse não te diria Evita a intervenção do governo na economia, buscando a liberdade de mercado. Claro que não, e mesmo se cheirasse não te diria.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
             -->
            <div class="secao" id="propostas">
                <a class="pull-right" href="#!/propostas"><div class="editar"></div></a>
                <h2><img src="/img/icones/tit-propostas.png" />Propostas</h2>
                <div class="row vazio" ng-show="!politico.propostas">
                    <img src="/img/vazio/propostas.png" />
                    <p>
                        Como {{nomecandidato}} vai melhorar o Brasil?
                    </p>
                    <button class="btn btn-default bt-secao btn-lg" onclick="location='#!/propostas'">Incluir propostas do político</button>
                </div>
                <ul class="propostas">
                    <li ng-repeat="proposta in politico.propostas">
                        <h5>{{proposta.titulo}}</h5>
                        <p>{{proposta.texto}}</p>
                    </li>
                </ul>
                <button class="bt-secao btn btn-default" ng-show="false">ver todas</button>
            </div>
        
            <div class="secao" id="videos">
                <a class="pull-right" href="#!/videos"><div class="editar"></div></a>
                <h2><img src="/img/icones/tit-videos.png" />Vídeos</h2>

                <div class="row vazio" ng-show="!politico.videos">
                    <img src="/img/vazio/videos.png" />
                    <p>
                        Discursos? Micos? Propaganda eleitoral?
                    </p>
                    <button class="btn btn-default bt-secao btn-lg" onclick="location='#!/videos'">Incluir videos do político</button>
                </div>

                <div class="videos" ng-show="politico.videos">
                	<div class="row">
                        <div ng-repeat="video in politico.videos" class="col-md-4">
                            <iframe width="200" height="113" ng-src="{{video.url}}" frameborder="0" allowfullscreen></iframe>
                            <h5>{{video.titulo}}</h5>
                        </div>
                    </div>
                </div>
                <button class="bt-secao btn btn-default" ng-show="verTodasVideos">ver todos</button>
             </div>        
    
        	<div class="secao" id="dadospessoais">
                <a class="pull-right" href="#!/dadospessoais"><div class="editar"></div></a>
                <h2><img src="/img/icones/tit-dadospessoais.png" />Dados pessoais</h2>
                <div class="row vazio" ng-show="!showDadosPessoais">
                    <img src="/img/vazio/dadospessoais.png" />
                    <p>
                        Idade, profissão, estado civil e outras intimidades
                    </p>
                    <button class="btn btn-default bt-secao btn-lg" onclick="location='#!/dadospessoais'">Editar dados pessoais</button>
                </div>
                <div class="row" ng-show="showDadosPessoais">
                    <div class="col-sm-3 topico">
                        <p>Nome</p>
                    </div>
                    <div class="col-sm-9">
                        <p>{{politico.nomecompleto}}</p>
                    </div>
                </div>
                <div class="row" ng-show="showDadosPessoais">
                    <div class="col-sm-3 topico">
                        <p>Idade</p>
                    </div>
                    <div class="col-sm-9">
                        <p>{{idadeTexto}}</p>
                    </div>
                </div>
                <div class="row" ng-show="showDadosPessoais">
                    <div class="col-sm-3 topico">
                        <p>Naturalidade</p>
                    </div>
                    <div class="col-sm-9">
                        <p>{{naturalidade}}</p>
                    </div>
                </div>
                <div class="row" ng-show="showDadosPessoais">
                    <div class="col-sm-3 topico">
                        <p>Estado civil</p>
                    </div>
                    <div class="col-sm-9">
                        <p>{{politico.estadocivil}}</p>
                    </div>
                </div>
                <div class="row" ng-show="showDadosPessoais">
                    <div class="col-sm-3 topico">
                        <p>Ocupação</p>
                    </div>
                    <div class="col-sm-9">
                        <p>{{politico.ocupacao}}</p>
                    </div>
                </div>
                <div class="row" ng-show="showDadosPessoais">
                    <div class="col-sm-3 topico">
                        <p>Escolaridade</p>
                    </div>
                    <div class="col-sm-9">
                        <p>{{politico.escolaridade}}</p>
                    </div>
                </div>
            </div>
                                               <!--
            <div class="secao" id="similares" ng-show="false">
                <h2><img src="/img/icones/tit-similares.png" />Políticos similares</h2>
                <ul class="similares">
                    <li>
                        <a href=""><img src="/img/alexandre-padilha-sm.jpg" class="foto-politico-sm" /> Michel Temer</a>
                    </li>
                    <li>
                        <a href=""><img src="/img/alexandre-padilha-sm.jpg" class="foto-politico-sm" /> Michel Temer</a>
                    </li>
                    <li>
                        <a href=""><img src="/img/alexandre-padilha-sm.jpg" class="foto-politico-sm" /> Michel Temer</a>
                    </li>
                </ul>
            </div>                                 -->
            <div class="editores">
                <p ng-show="politico.editores && politico.editores.length > 0">Editores: <span ng-repeat="editor in politico.editores">
                    <span ng-show="!!editor.nome">{{editor.nome}}</span>
                    <span ng-show="!$last && !!editor.nome">,</span></span></p>
            </div>
        </div>
    </div>
</div>

<div ng-include src='"/partials/footer.html"'></div>