<div class="container">

    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="topo-login">
                <img src="img/home/marca-login.png" style="margin: 20px"/>
            </div>
            <div class="box" ng-show="error && !mostrar">
                <p style="color:red" ng-show="error">{{error}}</p>
            </div>
            <div class="box" ng-show="mostrar">
                <h1>Insira uma nova senha</h1>
                <div class="form-group">
                    <label>Senha</label>
                    <input type="password" class="form-control" ng-model="password" ng-change="clearError()">
                </div>
                <button class="btn btn-lg btn-primary btn-block" ng-click="reset()">Redefinir Senha</button>
                <p style="color:red" ng-show="error">{{error}}</p>
            </div>
        </div>
    </div>
</div>