<!doctype html>
<html lang="en" ng-app="repolitica">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!--IE 11-->
        <meta name="msapplication-config" content="none"/>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="google" content="notranslate" />

        <meta property="og:site_name" content="<%= sitename %>"/>
        <meta property="og:title" content="<%= title %>"/>
        <meta property="og:description" content="<%= description %>"/>
        <meta property="og:image" content="<%= image %>"/>

        <title>Repolitica</title>

        <meta name="Description" content="<%= description %>">

        <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Rokkitt:400,700' rel='stylesheet' type='text/css'>

        <!-- Bootstrap -->
        <link href="https://s3.amazonaws.com/prd-repolitica/0static/css/bootstrap.min.css" rel="stylesheet">
        <link href="css/repolitica.css" rel="stylesheet">
        <link href="https://s3.amazonaws.com/prd-repolitica/0static/css/autocomplete.css" rel="stylesheet">
        <link rel="icon" href="favicon.ico" type="image/x-icon">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

        <meta name="fragment" content="!">
    </head>
    <body>
        <div ng-view></div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>
        <script src="https://s3.amazonaws.com/prd-repolitica/0static/lib/ui-bootstrap/ui-bootstrap-0.11.0.min.js"></script>
        <script src="https://s3.amazonaws.com/prd-repolitica/0static/lib/ui-bootstrap/ui-bootstrap-tpls-0.11.0.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular-route.min.js"></script>
        <script src="https://s3.amazonaws.com/prd-repolitica/0static/lib/angular/angular-sanitize.min.js"></script>

        <script src="/js/apps/main.js"></script>
        <script src="/js/services/server.js"></script>
        <script src="/js/services/global.js"></script>
        <script src="/js/services/crossdata.js"></script>
        <script src="/js/services/directives.js"></script>

        <!-- controllers -->
        <script src="/js/controllers/home.js"></script>
        <script src="/js/controllers/lista.js"></script>
        <script src="/js/controllers/cadastropolitico.js"></script>
        <script src="/js/controllers/cadastrocidadao.js"></script>
        <script src="/js/controllers/login.js"></script>
        <script src="/js/controllers/politico.js"></script>
        <script src="/js/controllers/teste.js"></script>
        <script src="/js/controllers/header.js"></script>
        <script src="/js/controllers/estaticas.js"></script>

        <!-- admin -->
        <script src="/js/controllers/admin.js"></script>

        <!--underscore-->
        <script src="https://s3.amazonaws.com/prd-repolitica/0static/lib/underscore/underscore-min.js"></script>

        <!--diacritics-->
        <script src="https://s3.amazonaws.com/prd-repolitica/0static/lib/diacritics/diacritics.js"></script>

        <!--async-->
        <script src="https://s3.amazonaws.com/prd-repolitica/0static/lib/async/async.js"></script>

        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

        <script src="https://s3.amazonaws.com/prd-repolitica/0static/lib/autocomplete.js"></script>
        <script src="https://s3.amazonaws.com/prd-repolitica/0static/lib/jquery.autocomplete/jquery.autocomplete.js"></script>
    </body>
    <script>
        if (window.location.host.indexOf('localhost') == -1) {
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-3515634-12', 'auto');
            ga('send', 'pageview');
        }

    </script>
</html>
