/* @group tags */

body {
  	font-family: 'Helvetica Neue', Arial, sans-serif;
  	font-size: 14px;
  	line-height: 21px;
	background-color: #f2f2ef;
}

a {
	color: #008fb3;
}

a:hover {
	color: #00495e;
}

.btn-primary {
	background-color: #008fb3;
	color: white;
}

.btn-primary:hover {
	background-color: #00495e;
}

.btn, .btn-lg {
	border-radius: 4px;
	font: 400 13px Montserrat, Arial, sans-serif;
	text-transform: uppercase;
}

.btn-default {
	color: #008fb3;
}

.btn-default:hover {
	background-color: #008fb3;
	color: white;
}

.fundo-cinza {
	background-color: #f2f2ef;
	padding-top: 20px;
}

.fundo-branco {
	background-color: #fff;
}

.alerta {
	background-color: #fffae6;
	border-radius: 4px;
	padding: 10px 15px;
	font-size: 11px;
	margin: 15px 0;
}

.alerta p {
	margin-bottom: 0;
}

/* @end */

/* @group topo */

.navbar {
	text-transform: uppercase;
	font: 700 13px Montserrat, Arial, sans-serif;
}

.navbar-brand {
	height: inherit;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-right: 0;
}

.navbar-default {
	border: none;
}

.navbar-default.fundo-cinza {
	padding-top: 0;
}

.navbar input[type="text"] {
	font-family: 'Helvetica Neue', Arial, sans-serif;
	font-weight: normal;
	border: 0;
	border-radius:0;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	width: 255px;
	margin-top: 5px;
	margin-left: 0;
	background: #dfdfdf url(../img/icones/nav-busca.png) no-repeat 10px 10px;
	padding-left: 35px;
}

@media (max-width: 768px) { 
	.navbar input[type="text"] {
		width: 100%;
	}
}

.navbar-nav img {
	margin-right: 10px;
}

.navbar-inverse .navbar-nav>li>a {
	color: white;
}

.nav>li {
	margin-bottom: -10px;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus, li.active {
	background-color: transparent;
}

.navbar-right {
	margin-top: 4px;
}

.navbar {
	margin-bottom: 0;
}

.breadcrumb {
	background-color: white;
	padding: 0;
	margin-bottom: 10px;
	margin-top: 10px;
	font-size: 11px;
	color: #a1a18d;
}

/* @end */

/* @group lateral */

.principal {
	border: 1px solid #d8d5cc;
	background-color: white;
}

@media (max-width: 768px) { 
	.principal {
		border: 0;
		background-color: transparent;
		margin-bottom: 15px;
		overflow: hidden;
	}
}

.foto-politico {
	width: 100%;
	max-width: 300px;
}

@media (max-width: 768px) { 
	.foto-politico {
		width: 100px;
		float: left;
		margin-right: 5px;
	}
}

.dados-principais {
	overflow: hidden;
}

.principal h1 {
	padding: 0 10px;
	font: normal 21px Rokkitt, 'Courier, Courier, Courier, Courier, Courier, Courier New', Georgia, serif;
	margin: 10px 0 5px 0;
}

@media (max-width: 768px) { 
	.principal h1 {
		margin-top:0;
	}
}

.principal h2 {
	padding: 0 10px;
	margin-top: 0;
	font-size: 14px;
	line-height: 21px;
	font-weight: normal;
}

.principal .editar {
	margin: 10px;
}

.indice {
	margin-top: 15px;
}

.indice li {
	font: 700 13px Montserrat, Arial, sans-serif;
	text-transform: uppercase;
}

.indice li a {
	border: 1px solid #d8d5cc;
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	color: black;
}

.indice li:first-child a {
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

.indice li:last-child a {
	-webkit-border-bottom-right-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-bottomright: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px; 
}

.indice>li.active>a, .indice>li.active>a:hover, .indice>li.active>a:focus {
	background-color: #a1a18d;
}

.indice>li>a:hover {
	background-color: #e9e6e0;
}

.nav>li {
	margin-bottom: -3px;
}

.affix {
	top: 20px;
	width: 200px;
}

.affix-top {
}

.affix-bottom {
	
}

/* @end */

/* @group secao */

.editar {
	width: 18px;
	height: 18px;
	background: url(../img/icones/editar.png) no-repeat;
	display: block;
}

.editar:hover {
	background-position: 0 -18px;
}

.secao {
	background-color: white;
	border: 1px solid #d8d5cc;
	border-bottom: 0;
	padding: 15px 15px;
}

.secao h2 {
	text-transform: uppercase;
	font: 700 13px Montserrat, Arial, sans-serif;
	color: #ff8d00;
	margin-top: 0;
	margin-bottom: 15px;
}

.secao h2 img {
	margin-right: 5px;
	position: relative;
	bottom: 1px;
}

.secao .topico p {
	font-family: Rokkitt, 'Courier, Courier, Courier, Courier, Courier, Courier New', Georgia, serif;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 0;
}


@media (max-width: 768px) { 
.secao .topico p {
		margin-top: 5px;
	}
}


.foto-politico-sm {
	width: 24px;
}

.pergunta {
	background-color: #fffae6;
	padding: 20px 15px;
}

.pergunta h2 {
	color: black;
}

.secao p span {
	color: #ff8d00;
	font-weight: bold;
}

.obs-pergunta {
	font-size: 12px;
	position: relative;
	top: 7px;
	left: 15px;
}
@media (max-width: 768px) { 
	.obs-pergunta {
		top: 4px;
		left: 0;
	}
}

.secao p img {
	margin-right: 7px;
	position: relative;
	bottom: 1px;
}

.secao h4 {
	font-family: Rokkitt, 'Courier, Courier, Courier, Courier, Courier, Courier New', Georgia, serif;
	font-size: 16px;
	font-weight: bold;
}

.secao .partido {
	font-size: 14px;
	font-weight: bold;
	color: #a1a18d;
	margin-bottom: 10px;
	margin-top: 0;
}

.secao h3 {
	text-transform: uppercase;
	font: 700 13px Montserrat, Arial, sans-serif;
	color: #a1a18d;
	margin-top: 15px;
	margin-bottom: 10px;
}

.enunciado {
	font-weight: bold;
	margin-bottom: 0;
	margin-top: 5px;
}

.secao span.concorda {
	color: #00b100;
}

.secao span.discorda {
	color: #e60051;
}

.secao span.parcialmente {
	color: #a1a18d;
}

@media (max-width: 768px) { 
.bt-secao {
		width: 100%;
	}
}

.subsecao {
	list-style:none;
	margin-left: 0;
	padding-left: 0;
}

.subsecao li {
	border-bottom: 1px solid #d8d5cc;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.subsecao li:last-child {
	border-bottom: 0;
	padding-bottom: 0;
	margin-bottom: 0;
}

.avaliacao {
	margin-top: 15px;
	position: relative;
}

.mais-detalhes {
	font-size: 11px;
	position: absolute;
	right: 0;
	top: 5px;
}

.propostas, .videos, .similares {
	list-style:none;
	margin-left: 0;
	padding-left: 0;
}

.propostas {
	margin-bottom: 20px;
}

.secao h5 {
	font-size: 14px;
	font-weight: bold;
	color: black;
	margin-bottom: 5px;
	margin-top: 15px;
}

.videos {	
	margin-top: 15px;
	display: table;
	margin-bottom: -7px;
}

.videos div div {
	margin-bottom: 15px;
}

.videos iframe {
	margin-bottom: -15px;
}

.similares li {
	margin-bottom: 8px;
}

.editores {
	border-top: 1px solid #d8d5cc;
	text-align: right;
	padding-top: 5px;
	font-size: 11px;
}

.perguntas {
	margin-left: 0;
	padding-left: 0;
}

.perguntas li {
	list-style: none;
	margin-bottom: 20px;
}

.perguntas li .perguntador {
	font-size: 12px;
	margin-bottom: 0;
}

.perguntas li .a_pergunta {
	font-weight: bold;
}

.perguntas li .a_pergunta a {
	font-weight: normal;
}

.perguntas li .a_resposta {
	border: 1px solid #d8d5cc;
	border-radius:4px;
	margin-top: 10px;
	padding: 10px;
}

/* @end */

/* @group footer */

.footer {
	background-color: #686460;
	padding-top: 20px;
	color: #d8d5cc;
	margin-top: 25px;
}

.footer a {
	color: #d8d5cc;
}

.footer a:hover {
	color: white;
	text-decoration: none;
}

.footer ul {
	list-style:none;
	margin-left: 0;
	padding-left: 0;
}

.footer li {
	margin-bottom: 12px;
	font-size: 12px;
	line-height: 17px;
}

.footer p {
	text-transform: uppercase;
	font: 700 13px Montserrat, Arial, sans-serif;
	margin-bottom: 20px;
}

ul.redes li {
	float: left;
	margin-right: 10px;
}

.footer div div {
	margin-bottom: 30px;
}

/* @end */

/* @group edição */

.box {
	background-color: white;
	border: 1px solid #d8d5cc;
	padding: 25px;
	margin-bottom: -1px;
}

.box-final {
	margin-bottom: 40px;
}

.box input[type=text], .box input[type=password], .box input[type=email] {
	background-color: #f2f2f3;
	border: 1px solid #d8d5cc;
	font-size: 14px;
	font-family: Helvetica Neue, Arial, sans-serif;
	color: #565656;
}

.box textarea {
	background-color: #f2f2f3;
	border: 1px solid #d8d5cc;
	font-size: 14px;
	font-family: Helvetica Neue, Arial, sans-serif;
	color: #565656;
	margin-bottom: 10px;
}

.box h1 {
	text-transform: uppercase;
	font: 700 13px Montserrat, Arial, sans-serif;
	color: #ff8d00;
	margin-top: 0;
	margin-bottom: 10px;
}

.box h2 {
	font-family: Rokkitt, 'Courier, Courier, Courier, Courier, Courier, Courier New', Georgia, serif;
	font-size: 16px;
	font-weight: bold;
}

.box label {
	font-family: Rokkitt, 'Courier, Courier, Courier, Courier, Courier, Courier New', Georgia, serif;
	font-size: 16px;
	font-weight: bold;
	line-height: 18px;
}

.box .btn-primary {
	background-color: #00b100;
	border: 1px solid #709900;
	margin-bottom: 10px;
	margin-top: 25px;
}

.box .btn-primary:hover {
	background-color: #008500;
}

.voltar-edicao {
	text-transform: uppercase;
	font: 700 13px Montserrat, Arial, sans-serif;
	margin-top: 20px;
}

.voltar-edicao a:hover {
	text-decoration: none;
}

.voltar-edicao img {
	padding-right: 5px;
	position: relative;
	bottom: 1px;
}

.perfil-edicao {
	text-transform: uppercase;
	font: 700 13px Montserrat, Arial, sans-serif;
	margin: 25px 0 10px 0;
}

.perfil-edicao a {
	color: #a1a18d;
}

.perfil-edicao a:hover {
	color: #008fb3;
	text-decoration: none;
}

.perfil-edicao img {
	margin-right: 5px;
}

.resetar {
	text-align: right;
	font-size: 12px;
	margin-top: 5px;
}

select.form-control {
	margin-bottom: 5px;
}

.trocarfoto {
	max-width: 94px;
	margin-right: 5px;
}

.sosalvar {
	text-transform: uppercase;
	font: 700 13px Montserrat, Arial, sans-serif;
	text-align: center;
}

.sosalvar a:hover {
	text-decoration: none;
}

.definicao-edicao {
	font-size: 11px;
	line-height: 17px;
}

.form-line {
	border-bottom: 1px solid #d8d5cc;
	margin-bottom: 20px;
	padding-bottom: 15px;
}

.form-line label {
	font-size: 12px;
	font-weight: bold;
	font-family: Helvetica Neue, Arial, sans-serif;
	color: #a1a18d;
}

.form-line .col-sm-4 {
	width: 31%;
	padding-left: 15px;
	padding-right: 0px;
}

.form-line .col-sm-1 {
	width: 7%;
	padding-left: 10px;
	padding-right: 5px;
}

.form-line h2 {
	margin-top: 4px;
}

@media (max-width: 768px) { 
	.form-line .col-sm-1, .form-line .col-sm-4  {
		width: inherit;
		padding-left: 15px;
		padding-right: 15px;
	}
}

.excluir-partidos {
	position: relative;
	top: 32px;
}

@media (max-width: 768px) { 
	.excluir-partidos {
		top: 0;
	}
}

.caracteres {
	font-weight: bold;
	color: #ff8d00;
	font-family: Helvetica Neue, Arial, sans-serif;
	font-size: 12px;
	position: relative;
	left: 5px
}

p.caracteres {
	left:0;
	bottom: 8px;
}

.box .btn-group-vertical {
	width: 100%;	
	margin-bottom: 10px;
}

.box .btn-group-vertical .btn {
	text-transform: none;
	font-size: 14px;
	font-family: Helvetica Neue, Arial, sans-serif;
	padding-left: 10px;
	padding-right: 10px;
	text-align: left;
}

.box .btn-group-vertical .btn img {
	float: left;
	position: relative;
	top: 4px;
	margin-right: 10px;
}

.justificativa {
	font-size: 12px;
}

/* @end */

/* @group vazio */

.vazio {
	text-align: center;
	margin: 20px 0 10px 0;
}
.vazio img {
	margin-bottom: 15px;
}
.vazio p {
	font-size: 24px;
	line-height: 24px;
	font-family: Rokkitt, Courier, Courier, Courier, Courier, Courier, Courier New, Georgia, serif;
	font-weight: bold;
	margin-bottom: 15px;
}

.vazio h6 {
	font-weight: bold;
	font-size: 14px;
	color: #a1a18d;
}

/* @end */

/* @group home */

/* @group pergunte a um político */

.politico-pergunte {
	padding-left: 0;
	margin-left: 0;	
}

.politico-pergunte li {
	overflow: hidden;
	border-bottom: 1px solid #d8d5cc;
	display: block;
	margin-bottom: -1px;
	list-style: none;
}

.politico-pergunte img {
	width: 100%;
	max-width: 80px;
	float: left;
	padding: 15px 15px 15px 0;
}

.politico-pergunte div {
	overflow: hidden;
	padding: 15px 15px 15px 0;
}

.politico-pergunte h2 {
	margin: 0;
	font-family: Rokkitt, Courier, Georgia, serif;
	font-size: 21px;
	line-height: 24px;
	margin-top: 5px;
}

.politico-pergunte h2 a {
	text-decoration: underline;
}

ul.politico-pergunte li div p {
	line-height: 18px;
	margin-bottom: 0;
	text-transform: none;
	font-weight: normal;
	font-size: 12px;
	font-family: Helvetica Neue, Arial, sans-serif;
	color: #333;
	margin: 0;
}

ul.politico-pergunte li div .btn {
	margin-top: 10px;
}

.select-pergunte {
	display: block;
	margin-bottom: 10px;
	clear: both;
}

}

/* @end */

.navbar.fundo-cinza {
	border-bottom: none;
	font-weight: normal;
	padding-top: 0;
}

.navbar.fundo-cinza a {
	color: black;
}

.navbar.fundo-cinza a span {
	color: #008fb3;
}

.navbar.fundo-cinza a:hover span {
	color: #00495e;
}

.navbar.fundo-cinza .navbar-right a {
	color: #008fb3;
}

.navbar.fundo-cinza .navbar-right a:hover {
	color: #00495e;
}

.topo-home {
	text-align: center;
	background: url(../img/home/fundo-home.png) repeat-x 0 bottom;
	z-index: 10;
}

.topo-home h2 {
	font-size: 21px;
	font-weight: normal;
	font-family: Rokkitt, Courier, Courier, Courier, Courier, Courier, Courier New, Georgia, serif;
	margin: 30px 0 20px 0;
}

.topo-home input {
	background: white url(../img/icones/nav-busca.png) no-repeat 15px 15px;
	padding-left: 40px;
}

.col-sm-offset-1emeio {
	margin-left: 12.5%
}

.cabecas {
	margin-top: 20px;
}

.cabecas img {
	width: 91px;
	position: relative;
	top: 14px;
}

.box-home {
	background-color: white;
	border: 1px solid #d8d5cc;
	padding: 35px 30px;
	border-bottom: none;
}

.box-home p {
	text-transform: uppercase;
	font: 700 13px Montserrat, Arial, sans-serif;
	color: #ff8d00;
	margin: 0;
}

.box-home p a {
	color: #ff8d00;
}

.box-home a:hover {
	text-decoration: none;
}

.box-home h2 {
	font-size: 21px;
	font-weight: normal;
	font-family: Rokkitt, Courier, Courier, Courier, Courier, Courier, Courier New, Georgia, serif;
}

.col-sm-6.home-teste {
	padding-right:35px;
	position: relative;
}

.breve {
	display: block;
	position: absolute;
	background-color: rgba(255, 255, 255, 0.75);
	width: 100%;
	height: 100%;
}

.breve p {
	text-align: center;
	margin-top: 35%;
	text-transform: none;
	font-family: Rokkitt, Courier New, Courier, Georgia, serif;
	color: black;
	font-size: 21px;
	margin-left: -50px;
	padding: 10px 15px;
}

.porque {
	text-align: center;
	font-size: 12px;
}

.porque a {
	text-decoration: underline;
}

@media (max-width: 768px) { 
	.col-sm-6.home-teste {
		border-right: none;
		padding-right: 15px;
		border-bottom: 1px solid #d8d5cc;
		padding-bottom: 35px;
		margin-bottom: 35px;

	}
}

.col-sm-6.home-politicos {
	padding-left:35px;
	border-left: 1px solid #d8d5cc;
}

@media (max-width: 768px) { 
	.col-sm-6.home-politicos {
		padding-left: 15px;
		border-left: 0;
	}
}

.box-home .btn-primary {
	background-color: #00b100;
	border: 1px solid #709900;
	margin-bottom: 10px;
	margin-top: 25px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.box-home .btn-primary:hover {
	background-color: #008500;
}

.home-politicos .btn-group-vertical {
	margin-top: 20px;
}

.home-politicos .outros {
	text-align: center;
	margin-top: 15px;
}

.home-politicos .outros a {
	text-decoration: underline;
	color: black;
}

.home-politicos .outros a:hover {
	color: #008fb3;
}

.selecao {
	border-bottom: 1px solid #d8d5cc;
}

.box-home p.explicacao-selecao {
	font-size: 14px;
	text-transform: none;
	color: black;
	font-family: Helvetica Neue, Arial, sans-serif;
	line-height: 21px;
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 5px;
}

.selecao h3 {
	font-family: Rokkitt, Courier, Georgia, serif;
	font-size: 18px;
	font-weight: normal;
	margin: 8px 0 4px 0;
}

.selecao div p {
	font-size: 12px;
	line-height: 15px;
	text-transform: none;
	color: black;
	font-family: Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 0;
}

.selecao-politico {
	overflow: hidden;
}

.selecao-politico img {
	width: 100%;
	max-width: 160px;
}

@media (max-width: 768px) { 
	.selecao-politico img {
		float: left;
		margin-right: 15px;
		margin-bottom: 15px;
		max-width: 75px;
	}
}

.selecao-politico div {
	overflow: hidden;
}



/* @end */

/* @group login */

.box h1 {
	margin-bottom: 20px;
}

.topo-login {
	text-align: center;
	z-index: 10;
}

.topo-login p {
	margin: 20px 0;
}

.topo-login p a {
	font-weight: bold;
}

.facebook {
	border-bottom: 1px solid #d8d5cc;
	margin-bottom: 20px;
	padding-bottom: 20px;
}

.facebook .btn-primary {
	background-color: #475e9b;
	border: 1px solid #2f406e;
}

.facebook .btn-primary:hover {
	background-color: #2f406e;
}

.esqueci {
	text-align: right;
}

.fineline {
	font-size: 11px;
	line-height: 15px;
}

.checkbox label {
	font-size: 14px;
	font-family: Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
}

/* @end */

/* @group cadastro politico */

.form-horizontal .control-label {
	text-align: left;
}
.politico-escolhido img {
	width: 100%;
	max-width: 80px;
	float: left;
	margin-right: 15px;
}

.politico-escolhido {
	overflow: hidden;
	border: 1px solid #d8d5cc;
	margin-bottom: 15px
}

.politico-escolhido div {
	padding: 15px 15px 0 15px;
}

.politico-escolhido h2 {
	margin: 0;
}

.politico-escolhido div p {
	font-size: 12px;
	line-height: 18px;
	margin-bottom: 0;
}

.box-final .btn-primary {
	margin-top: 0;
	z-index:9999;
	position: relative;
}

.gratis {
	color: #00c700;
	font-weight: bold;
	position: relative;
	top: 10px;
	left: 15px;
	margin-bottom: 15px;
	margin-top: 0;
}

@media (max-width: 768px) { 
	.gratis {
		position: relative;
		top: 0;
		left: 0;
	}
}

.alopolitico {
	margin-left: 30px;
}

.alopolitico p {
	margin-top: 25px;
}

.alopolitico h4 {
	font-size: 16px;
	margin-top: 25px;
	margin-bottom: 15px;
}

.alopolitico ul {
	margin-left: 20px;
	padding-left: 0;
}

.alopolitico li {
	list-style-image: url(../img/cadastro/check2.png);
	font-size: 14px;
	margin-top: 5px;
}

.form-horizontal .box .alerta {
	margin-top: 0;
	font-size: 14px;
}

/* @end */

/* @group lista políticos */

/* @group filtros */

.filtros {
	padding: 15px 0;
}

.filtros h4 {
	text-transform: uppercase;
	font: 700 13px Montserrat, Arial, sans-serif;
	color: #a1a18d;
	margin-top: 0;
	margin-bottom: 0;
}

.filtros label, .filtros select {
	font-size: 12px;
}

@media (max-width: 768px) { 
	.filtros>div>div>div {
		margin-bottom: 15px;
	}
}

.filtros .radio+.radio, .checkbox+.checkbox {
	margin-top: 0;
}

.filtros select {
	margin-top: 13px;
}

.filtros select+select {
	margin-top: 2px;
}

/* @end */

/* @group barra lateral */

.opinioes {
	background-color: #fffae6;
	border: 1px solid #d8d5cc;
	padding: 15px 15px 0 15px;
	z-index: 10;
}

.opinioes h4 {
	text-transform: uppercase;
	font: 700 13px Montserrat, Arial, sans-serif;
	color: #ff8d00;
	margin-top: 0;
	margin-bottom: 15px;
}

.opinioes .radio {
	font-family: Rokkitt, Courier, Georgia, serif;
	font-size: 16px;
	margin-top: 10px;
	margin-bottom: 0;
	margin-left: 5px;
}

.setinha-opinioes {
	margin: 0 50% 0 50%;
	position: relative;
	top: 14px;
}

.panel-group .box-opinioes.panel {
	border-radius:0;
	margin-bottom:0;
	margin-top: -1px;
	background-color:transparent;
}

.panel-group .box-opinioes.panel:hover {
	background-color: white;
}

.box-opinioes .panel-heading {
	padding: 0;
	background-color: transparent;
}

.box-opinioes .panel-heading a {
	display: block;
	padding: 15px 15px 8px 15px;
} 

.panel-group .box-opinioes.panel+.panel .panel-heading a {
	padding: 8px 15px 8px 15px;
}

.box-opinioes .panel-heading a:hover {
	text-decoration: none;
}

.box-opinioes .panel-heading h5 {
	margin: 0;
}

.box-opinioes .col-xs-2 {
	text-align: right;
}

.panel-group .box-opinioes.panel+.panel {
	margin-top: -1px;
}

.box-opinioes .panel-heading span.caret {
}

.panel-group .panel-heading+.panel-collapse>.panel-body {
	padding: 0;
}

.box-opinioes .btn {
	font-size: 14px;
	font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #a1a18d;
	text-align: left;
	padding: 8px 15px 8px 15px;
	text-transform: none;
	background-color: transparent;
	border-radius: 0;
}

.box-opinioes .btn:hover {
	background-color: #f3f5f5;
	color: black;
}

.box-opinioes .btn.active {
	color: white;
	background-color: #008fb3;
	box-shadow: none;
}

.box-opinioes .btn-group-vertical>.btn:first-child:not(:last-child) {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.box-opinioes .btn-group-vertical>.btn:last-child:not(:first-child) {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-left-radius: 0;
}

/* @end */

/* @group lista */

.politico-lista {
	overflow: hidden;
	border: 1px solid #d8d5cc;
	margin-bottom: -1px;
	background-color: white;
}

.politico-lista img {
	width: 100%;
	max-width: 110px;
	float: left;
	padding: 15px;
}

.politico-lista div {
	overflow: hidden;
	padding: 15px 15px 15px 0;
}

.politico-lista h2 {
	margin: 0;
	font-family: Rokkitt, Courier, Georgia, serif;
	font-size: 21px;
	line-height: 24px;
	margin-top: 5px;
}

.politico-lista h2 a {
	text-decoration: underline;
}

.politico-lista div p {
	font-size: 12px;
	line-height: 18px;
	margin-bottom: 0;
}

div.justificativa {
	border: 1px solid #d8d5cc;
	border-radius:4px;
	margin-top: 10px;
	padding: 10px;
}

div.justificativa p {
	font-size: 14px;
	line-height: 21px;
	margin: 0;
}

div.justificativa span {
	font-weight: bold;
	color: #ff8d00;
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
	background-color: #008fb3;
}

.pagination li a {
	color: #008fb3;
}

div.justificativa p span img {
	margin-right: 7px;
	position: relative;
	bottom: 1px;
	width: inherit;
	padding: 7px 0 0 0;
}

div.justificativa span.concorda {
	color: #00b100;
}

div.justificativa span.discorda {
	color: #e60051;
}

div.justificativa span.parcialmente {
	color: #a1a18d;
}


/* @end */

/* @end */

/* @group teste */

.luneta {
	margin-bottom: -53px;
}

h1.teste0 {
	margin-top: 18px;
	text-align: center;
}

h1.teste00 {	
	padding-top: 40px;
	padding-bottom: 40px;
	text-align: center;
}

.barra-total {
	width: 100%;
	height: 5px;
	background-color: #cac9be;
	border: 1px solid #d8d5cc;
}

.barra-porcentagem {
	width: 50%;
	height: 5px;
	background-color: #ff8b00;
}

h1 .pergunta {
	background-color: transparent;
	text-transform: none;
	color: black;
	font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

.box .btn-group-vertical.bt-teste .btn {
	text-align: center;
	color: black;
	font-family: Rokkitt, Courier, Georgia, serif;
	font-size: 16px;
}

.box .btn-group-vertical.bt-teste .btn:hover {
	color:white;
}

.box.nav-teste {
	font-size: 12px;
	padding: 8px 15px;
}

.nav-teste a:hover {
	text-decoration: none;
}

.nav-teste img {
	margin: 0 3px;
	position: relative;
	bottom: 2px
}

.interrogacao {
	overflow: hidden;
	margin-top: 15px;
}

.interrogacao img {
	float: left;
	margin-right: 10px;
}

.interrogacao div {
	overflow: hidden;
}

.interrogacao div p {
	margin: 0;
	font-size: 11px;
	line-height: 14px;
}

.share {
	position: fixed;
	top: 0;
	left: 0;
	background-color: #fffae6;
	z-index: 10000;
	width: 100%;
	overflow: hidden;
	padding: 15px 0;
	-webkit-box-shadow: 0px 4px 5px 0px rgba(50, 50, 51, 0.2);
	-moz-box-shadow:    0px 4px 5px 0px rgba(50, 50, 51, 0.2);
	box-shadow:         0px 4px 5px 0px rgba(50, 50, 51, 0.2);
}

.foto-share {
	float: left;
	margin-right: 15px;
	display: table-cell;
}

.foto-share img {
	width: 100%;
	max-width:80px
}

.txt-share {
	overflow: hidden;
	display: table-cell;
}

.txt-share h1 {
	font-family: Rokkitt, Courier, Courier New, Georgia, serif;
	font-size: 21px;
}

.txt-share h1 span {
	color: #ff8b00;
}

.txt-share img {
	margin-left: 10px;
}

.editar-teste h4 {
	text-transform: uppercase;
	font: 700 13px Montserrat, Arial, sans-serif;
	color: #ff8d00;
	margin-top: 0;
	margin-bottom: 15px;
}

.editar-teste h4 a {
	text-transform: none;
	font-size: 12px;
	font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
	font-weight: normal;
}

.editar-teste .panel-group {
	margin-top: 10px;
}

.editar-teste .box-opinioes .panel-heading a {
	display: block;
	padding: 8px 15px 8px 15px;
}

.politico-lista .row {
	margin-left: 0;
	padding: 0 15px 0 0;
}

.politico-lista .row p {
	margin-bottom: 10px;
}

.politico-lista .row div {
	padding: 0;
}

.politico-lista .row div.col-xs-9 {
	padding-right: 15px;
}

.politico-lista .row div.col-xs-3 {
	text-align: right;
}

.politico-lista .btn-primary {
	color: #008fb3;
	border: 1px solid #d8d5cc;
	background-color: white;
	display: block;
    margin-top:10px;
}

.politico-lista .btn-primary:hover {
	background-color: #008fb3;
	color: white;
}

.barra-total-resultado {
	width: 60px;
	height: 8px;
	background-color: #f2f2ef;
	margin-top: 10px;
	float: right;
}

.compartilhe {
	background-color: #fffae6;
	margin-bottom: 12px;
	border: 1px solid #d8d5cc;
	padding: 8px 13px;
	font-size: 14px;
}

@media (min-width: 769px) and (max-width: 992px) { 
	.barra-total-resultado {
		margin-top: -5px;
	}
}

@media (max-width: 571px) { 
	.barra-total-resultado {
		margin-top: -5px;
	}
}

.barra-porcentagem-resultado {
	width: 72%;
	height: 8px;
	background-color: #00b100;
}

.politico-lista .row p.porcentagem {
	color: #00b100;
	font-weight: bold;
	margin-top: 5px;
	font-size: 14px;
	margin-left: 10px;
	float: right;
}

.politico-lista .row .col-xs-12 p {
	margin: 5px 0 0 0;
}

.sem-info {
	margin: 20px 0 10px 0;	
}

.sem-info h4 {
	text-transform: uppercase;
	font: 700 13px Montserrat, Arial, sans-serif;
	color: #ff8d00;
	margin-top: 0;
	margin-bottom: 0;
}

.sem-info p {
	font-size: 12px;
}

div.no-padding {
	padding-top: 0;
	padding-bottom: 0;
}

/* @end */

/* @group institucional */

.institucional {
	background-color: white;
	border: 1px solid #d8d5cc;
	padding: 25px;
}

.institucional h1 {
	text-transform: uppercase;
	font: 700 13px Montserrat, Arial, sans-serif;
	color: #ff8d00;
	margin-top: 20px;
	margin-bottom: 10px;
}

.institucional h2 {
	font-size: 24px;
	font-weight: normal;
	font-family: Rokkitt, Courier, Courier, Courier, Courier, Courier, Courier New, Georgia, serif;
	margin: 30px 0 20px 0;
	color: #a1a18d;
	border-left: 2px solid #a1a18d;
	padding-left: 30px;
}

.institucional h3 {
	font-size: 21px;
	font-weight: normal;
	font-family: Rokkitt, Courier, Courier, Courier, Courier, Courier, Courier New, Georgia, serif;
	margin: 20px 0 10px 0;
	color: black;
}

.midia {
	margin-left: 0;
	padding-left: 0;
}

.midia li {
	margin-right: 21px;
	margin-bottom: 21px;
	float: left;
	list-style: none;
}

.midia li:nth-child(6n) {
	margin-right: 0;
}

.subitem {
	margin-left: 20px;
}

h1.primeiro-h1 {
	margin-top: 0;
}

.institucional input[type=text], .institucional input[type=password], .institucional input[type=email], .institucional textarea {
	background-color: #f2f2f3;
	border: 1px solid #d8d5cc;
	font-size: 14px;
	font-family: Helvetica Neue, Arial, sans-serif;
	color: #565656;
}

/* @end */

/* @group autocomplete */

.autocomplete {
	text-align:left;
	-webkit-box-shadow: 2px 2px 2px 0px rgba(120, 120, 120, 0.5);
	-moz-box-shadow: 2px 2px 2px 0px rgba(120, 120, 120, 0.5);
	box-shadow: 2px 2px 2px 0px rgba(120, 120, 120, 0.5);
	padding: 0 !important;
	width: 98% !important; 
	margin-left:5px;
}

.autocomplete>div:hover {
	background-color: #f2f2ef;
}

.autocomplete .selected {
	background-color: #f2f2ef;
}

.autocomplete>div {
	border-bottom: 1px solid #d8d5cc;
}

.autocomplete div:hover {
	cursor: pointer !important;
}

.col-sm-6.col-sm-offset-3 .col-xs-12 {
	padding-left: 0;
	padding-right: 30px;
}

.box .form-group .col-xs-12 {
	padding-left: 0;
	padding-right: 85px;
}

.navbar-form .form-group .col-sm-3 {
	padding-left: 0;
	padding-right: 7px;
	width: 262px;
}

@media (max-width: 768px) { 
	.navbar-form .form-group .col-sm-3 {
		width:100%;
		padding-right: 30px;
	}
}

.navbar-form .form-group .col-sm-3 .autocomplete {
	width: 100% !important; 
	margin-left:0;
}




/* @end */

/* @group outros */

.busca-outros {
	background: white url(../img/icones/nav-busca.png) no-repeat 8px 8px;
	padding-left: 30px;
}

.logo-outros {
	margin-top: 10%;
	margin-bottom: 30px;
}

.voltar-outros {
	margin-top: 10px;
	text-align: right;
}

/* @end */

.iframe-login{
    width: 100%;
    border: none;
    height: 210px;
}

.iframe-pergunta{
    width: 100%;
    border: none;
    height: 250px;
}

.iframe-alopolitico{
    background-color: #f1ede8;
    padding-top: 0;
}

/* @group quem elegi */

.titulo-qe {
	text-align: center;
}

.titulo-qe p {
	text-align: center;
	font-family: Rokkitt, Courier, Georgia, serif;
	font-weight: 700;
	line-height: 28px;
	font-size: 21px;
}

.share-qe {
	margin-bottom: 30px;
}

.box-qe {
	margin-bottom: 30px;	
}

.box-qe .radio label {
	font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 14px;
	position: relative;
	bottom: 5px;
}

.box-qe .radio label input {
	position: relative;
	bottom: 1px;
	margin-right: 4px;
}

.legenda-qe {
	font: 700 13px Montserrat, Arial, sans-serif;
	background-color: #ff8d00;
	color: white;
	padding: 8px 8px 0 8px;
	text-transform: uppercase;
}

.fotos-qe {
	background-color: #443d48;
}

.foto-qe {
	padding: 0;
	background-color: #7c777e;
}

.foto-qe img {
	width: 100%;
	max-width: 300px;
}

.ajuste-tit-qe {
	display: table;
}

.ajuste-qe {
	float: none;
    display: table-cell;
    vertical-align: middle;
}

.similaridade-qe {
	text-align: center;
	margin-top: 30px;
}

div.porcentagem-qe {
	background-color: #ffb800;
	color: white;
	border-radius:130px;
	-moz-border-radius:130px;
	-webkit-border-radius:130px;
	font: 700 48px Montserrat, Arial, sans-serif;
	height: 120px;
	width: 120px;
	display: block;
	text-align: center;
	margin: 0 auto;
}

.porcentagem-qe span {
	position: relative;
	top: 32px;
}

div.porcentagem-qe p {
	text-align: center;
	font-family: Rokkitt, Courier, Georgia, serif;
	font-weight: 700;
	line-height: 160px;
	font-size: 16px;
	color: white;
}

@media (max-width: 568px) { 
	div.porcentagem-qe {
		font: 700 24px Montserrat, Arial, sans-serif;
		height: 70px;
		width: 70px;
	}
	.porcentagem-qe span {
		top: 22px;
	}
	div.porcentagem-qe p {
		line-height: 110px;
	}
}

.linha-titulo-qe {
	background-color: white;
	border: 1px solid #d8d5cc;
	padding: 18px 25px 25px 25px;	
}

.linha-titulo-qe h1 {
	font-family: Rokkitt, Courier, Georgia, serif;
	font-weight: 700;
	font-size: 21px;
	line-height: 24px;
	margin-top: 0;
}

.situacao-qe {
	font: 700 13px Montserrat, Arial, sans-serif;
	text-transform: uppercase;
}

.positivo-qe {
	color: #00b100;
}

.negativo-qe {
	color: #e60051;
}

.linha-titulo-qe ul {
	padding: 0;
	margin: 0;
}

.linha-titulo-qe ul li {
	list-style: none;
}

.linha-titulo-qe ul li a {
	text-decoration: underline;
}

.coligacao-qe {
	font-weight: bold;
	margin-bottom: 5px;
}

.linha-qe {
	background-color: white;
	border: 1px solid #d8d5cc;
	padding: 18px 25px 10px 25px;
	margin-top: -1px;	
}

.posicao-qe {
	font: 700 13px Montserrat, Arial, sans-serif;
	color: #a1a18d;
	padding: 8px 8px 0 8px;
	text-transform: uppercase;
}

.esq-qe {
	text-align: right;
}

.tema-qe {
	font-family: Rokkitt, Courier, Georgia, serif;
	font-weight: 700;
	font-size: 16px;
	line-height: 17px;
	text-align: center;	
}

.tema-qe p {
	margin-bottom: 6px;
}

.btn-qe {
	padding-left: 15px;
	padding-right: 15px;
	margin-top: 15px;
}

/* @end */