
<div class="fundo-cinza">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">

                <div class="titulo-qe">
                    <p>
                        <a href="https://www.repolitica.com.br">
                            <img src="../../img/quemelegi/repolitica.png" />
                        </a>
                    </p>
                    <p>
                        <a href="https://quemelegi.repolitica.com.br">
                            <img src="../../img/quemelegi/quemelegi.png" />
                        </a>
                    </p>
                    <p>Veja quais deputados foram eleitos com o seu voto</p>
                    <div>
                        <iframe style="width:100px; height:21px" src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Frepolitica&amp;width=100&amp;layout=button_count&amp;action=like&amp;show_faces=true&amp;share=false&amp;height=21&amp;appId=327721127316035" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:21px;" allowTransparency="true"/>
                    </div>
                </div>

                <div class="box box-qe">
                    <h1 ng-show="!estadoselecionado">Passo 1: escolha estado e cargo</h1>
                    <h1 ng-show="estadoselecionado">Passo 2: escolha o candidato ou legenda</h1>
                    <div class="radio" ng-show="estadoselecionado">
                        <label>
                            <input type="radio" name="optionsRadios" value="candidato" ng-model="voto">
                            Votei num candidato
                        </label>
                    </div>
                    <div class="radio" ng-show="estadoselecionado">
                        <label>
                            <input type="radio" name="optionsRadios" value="legenda" ng-model="voto">
                            Votei na legenda
                        </label>
                    </div>
                    <div class="form-group" ng-show="!estadoselecionado">
                        <label>Seu estado</label>
                        <select class="form-control" ng-model="estado" ng-options="estado.nome for estado in estados" ng-change="changeEstado()">
                        </select>
                    </div>
                    <div class="form-group" ng-show="voto == 'candidato' && estadoselecionado">
                        <label>Nome do candidato</label>
                        <input type="text" class="form-control inputBusca"
                               autocomplete="off" ng-model="candidato"/>
                    </div>
                    <div class="form-group" ng-show="!estadoselecionado">
                        <label>Cargo</label>
                        <select class="form-control" ng-model="cargo"
                                ng-options="cargo as cargo for cargo in cargos">
                        </select>
                    </div>
                    <div class="form-group" ng-show="voto == 'legenda' && estadoselecionado">
                        <label>Partido</label>
                        <select class="form-control" ng-model="partido" ng-options="partido as partido for partido in partidos">
                        </select>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" ng-click="resultado()" ng-show="estadoselecionado" ng-disabled="loadingFim">
                        <img src="https://s3.amazonaws.com/prd-repolitica/0static/img/loading2.gif" ng-show="loadingFim" style="margin-right: 10px"/>
                        Ver quem eu ajudei a eleger
                    </button>
                    <button class="btn btn-lg btn-primary btn-block" ng-click="selecionarEstado()" ng-show="!estadoselecionado">Selecionar</button>
                    <p style="color: red">{{error}}</p>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <p>Receba novidades por email</p>
                <form class="form-inline" role="form">
                    <div class="form-group" style="margin-bottom: 5px">
                        <input type="email" class="form-control" ng-model="userEmail" placeholder="Seu email">
                    </div>
                    <button type="submit" class="btn btn-default" ng-click="cadastraremail()" ng-disabled="enviando">OK</button>
                    <div style="color: red; margin: 0 !important">{{emailError}}</div>
                    <div style="margin: 0 !important">{{emailMsg}}</div>
                </form>
            </div>
            <div class="col-sm-4 col-sm-offset-2">
                <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Frepolitica&amp;width&amp;height=258&amp;colorscheme=dark&amp;show_faces=true&amp;header=false&amp;stream=false&amp;show_border=false&amp;appId=327721127316035" scrolling="no" frameborder="0" style="border:none; overflow:hidden;" allowTransparency="true"></iframe>
            </div>
        </div>
    </div>
</div>
