

<div class="share" ng-show="showCompartilhar">
    <div class="container">
        <div class="fechar pull-right">
            <a href="" ng-click="showCompartilhar = false"><img src="/img/nav/fechar-teste.png" /></a>
        </div>
        <div class="foto-share">
            <img ng-src="{{politico.imagemurl}}" />
        </div>
        <div class="txt-share">
            <h1>
                Você ajudou a eleger {{ajudoueleger}}! <span>Compartilhe:</span>
                <a href="" ng-click="shareFB()"><img src="/img/teste/facebook.png"/></a>
                <a href="" ng-click="shareTwitter()"><img src="/img/teste/twitter.png" /></a>
            </h1>
        </div>
    </div>
</div>
<div class="fundo-cinza">
<div class="container">
<div class="row">
<div class="col-sm-8 col-sm-offset-2">

<div class="titulo-qe">
    <p>
        <a href="https://www.repolitica.com.br">
            <img src="/img/quemelegi/repolitica.png" />
        </a>
    </p>
    <p>
        <a href="https://quemelegi.repolitica.com.br">
            <img src="/img/quemelegi/quemelegi.png" />
        </a>
    </p>
    <p><a href="#!/">voltar</a></p>
    <div>
        <iframe style="width:100px; height:21px" src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Frepolitica&amp;width=100&amp;layout=button_count&amp;action=like&amp;show_faces=true&amp;share=false&amp;height=21&amp;appId=327721127316035" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:21px;" allowTransparency="true"/>
    </div>
</div>

<div class="row ajuste-tit-qe">
    <div class="col-xs-4 legenda-qe ajuste-qe">
        <p>Você votou</p>
    </div>
    <div class="col-xs-4 ajuste-qe"></div>
    <div class="col-xs-4 legenda-qe ajuste-qe">
        <p>Você ajudou a eleger</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="row fotos-qe ajuste-tit-qe">
            <div class="col-xs-4 foto-qe ajuste-qe">
                <img ng-src="{{politico.imagemurl}}" />
            </div>
            <div class="col-xs-4 similaridade-qe ajuste-qe">
                <div class="porcentagem-qe">
                    <span ng-show="minPts != 0">{{Math.round((teste - minPts) * 100 / (maxPts - minPts))}}%</span>
                    <span ng-show="minPts == 0">?</span>
                    <p>Similaridade</p>
                </div>
            </div>
            <div class="col-xs-4 foto-qe ajuste-qe">
                <img src="/img/quemelegi/coligacao.png" />
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 linha-titulo-qe">
        <div class="row">
            <div class="col-xs-4">
                <h1><a href="https://www.repolitica.com.br/{{politico.politicolink}}">{{politico.nomecandidatura}}</a></h1>
                <p>{{politico.cargocandidatura}}<br />
                   {{politico.cargoLocal}}</p>
                <p class="situacao-qe positivo-qe" ng-show="politico.eleito">
                    Eleito!
                </p>
                <p class="situacao-qe negativo-qe" ng-show="!politico.eleito && showCandidato">
                    Não Eleito
                </p>
                <p ng-show="showCandidato">
                    Total de votos: {{politico.totalVotos}}<br />
                    <!--Coligação: 5<sup>o</sup> lugar<br />
                    RJ: 41<sup>o</sup> lugar                -->
                </p>
                <!--<a class="btn btn-lg btn-default">Envie uma mensagem</a>-->
            </div>
            <div class="col-xs-4 col-xs-offset-4">
                <p class="coligacao-qe">Coligação {{coligacao.composicao}}:</p>
                <p ng-show="polsEleitos.length == 0">Ninguém da coligação foi eleito</p>
                <ul>
                    <li ng-repeat="pol in polsEleitos">
                        <a href="https://www.repolitica.com.br{{pol.politicolink}}" target="_blank">{{pol.nomecandidatura}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row" ng-repeat="questao in questoes" ng-show="questao.politico || questao.coligacao">
    <div class="col-xs-12 linha-qe">
        <div class="row">
            <div class="col-xs-4 posicao-qe esq-qe">
                <p>{{questao.politico}}</p>
            </div>
            <div class="col-xs-4 tema-qe">
                <p><img ng-src="../../img/quemelegi/ico-{{questao.res}}.png" /></p>
                <p>{{questao.titulo}}</p>
            </div>
            <div class="col-xs-4 posicao-qe dir-qe">
                <p>{{questao.coligacao}}</p>
            </div>
        </div>
    </div>
</div>
<div class="row" ng-show="false">
    <div class="col-xs-12">
        <a href="" class="btn btn-lg btn-primary btn-block btn-qe">Ver todos os candidatos eleitos</a>
    </div>
</div>
</div>
</div>
</div>
</div>
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <p>Receba novidades por email</p>
                <form class="form-inline" role="form">
                    <div class="form-group" style="margin-bottom: 5px">
                        <input type="email" class="form-control" ng-model="userEmail" placeholder="Seu email">
                    </div>
                    <button type="submit" class="btn btn-default" ng-click="cadastraremail()" ng-disabled="enviando">OK</button>
                    <div style="color: red; margin: 0 !important">{{emailError}}</div>
                    <div style="margin: 0 !important">{{emailMsg}}</div>
                </form>
            </div>
            <div class="col-sm-4 col-sm-offset-2">
                <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Frepolitica&amp;width&amp;height=258&amp;colorscheme=dark&amp;show_faces=true&amp;header=false&amp;stream=false&amp;show_border=false&amp;appId=327721127316035" scrolling="no" frameborder="0" style="border:none; overflow:hidden;" allowTransparency="true"></iframe>
            </div>
        </div>
    </div>
</div>
