<div ng-include src='"partials/header/main.html"'></div>

<div class="fundo-cinza">
    <div class="container">
        <div class="row">
        <div class="col-xs-12">
            <div class="institucional">
                <div class="row">
                    <div class="col-sm-9">
                        <h1 class="primeiro-h1">Como usar o teste de compatibilidade</h1>
                        
                        <p>Durante as eleições, o teste de compatibilidade é bem mais relevante e eficaz para a busca por candidatos ao legislativo - deputados, vereadores, e em menor escala, senadores.</p>
                        
                        <p>Para presidente ou governador, sabemos que se trata de uma curiosidade. Não temos a pretensão de sugerir que um teste de 20 perguntas deve decidir seu voto por você. Até porque, são grandes as chances de você já ter decidido em quem votar, e é provável que o teste de compatibilidade até corrobore a sua decisão - mas isso não deveria ter tanta relevância para você.</p>
                        
                        <p>O teste é mais eficaz para deputados e vereadores porque você precisa decidir entre milhares de candidatos, e você certamente não conhece todos. Sugerimos que você o use como um filtro: depois de responder às 20 perguntas, veja os candidatos que aparecem entre os 10 primeiros lugares.</p>
                        
                        <p>É possível que alguns não sejam de fato compatíveis com você - afinal, o que é um simples algoritmo de compatibilidade para decifrar todos os meandros que influem na decisão de voto. Mas certamente o resultado vai te oferecer boas possibilidades, em cima das quais você pode pesquisar mais, inclusive usando o próprio Repolítica.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div ng-include src='"partials/footer.html"'></div>
