<div ng-include src='"partials/header/main.html"'></div>
<div class="fundo-cinza">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="institucional">
                    <div class="row">
                        <div class="col-sm-9">
                            <h1 class="primeiro-h1">Contato</h1>
                            <p>Dúvidas? Sugestões? Alguma ideia? Entre em contato conosco pelo contato@repolitica.com.br!</p>
                            <div class="form-group">
                                <label>Seu nome</label>
                                <input type="text" class="form-control" ng-model="nome">
                            </div>
                            <div class="form-group">
                                <label>Seu email</label>
                                <input type="email" class="form-control" ng-model="email">
                            </div>
                            <div class="form-group">
                                <label>Sua mensagem</label>
                                <textarea class="form-control" rows="8" ng-model="mensagem"></textarea>
                            </div>
                            <button type="button" class="btn btn-default" ng-click="enviar()"
                                    ng-disabled="loading">
                                <img src="/img/loading2.gif" ng-show="loading" style="margin-right: 15px"/>
                                Enviar
                            </button>
                            <br/>
                            <span style="color:red">{{erro}}</span>
                            <span>{{msg}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-include src='"partials/footer.html"'></div>
