<div ng-include src='"partials/header/main.html"'></div>
<div class="fundo-cinza">
    <div class="container">
        <div class="row">
        <div class="col-xs-12">
            <div class="institucional">
                <h1 class="primeiro-h1">Na mídia</h1>
                <ul class="midia">
                    <li><a href="https://www.youtube.com/watch?v=majY5q8K4Vk" target="_blank"><img src="/img/midia/band.png" /></a></li>
                    <li><a href="http://2txfhkm7e8mznv94d55j.repolitica.com.br/Content/themes/images/midia-oglobo.png" target="_blank"><img src="/img/midia/oglobo.png" /></a></li>
                    <li><a href="http://www1.folha.uol.com.br/empreendedorsocial/1152259-site-compara-perfis-de-candidatos-para-estimular-voto-consciente.shtml" target="_blank"><img src="/img/midia/folha.png" /></a></li>
                    <li><a href="http://revistaepoca.globo.com/Revista/Epoca/0,,EMI168861-18176,00-NAVEGUE+PARA+ELEGER.html" target="_blank"><img src="/img/midia/epoca.png" /></a></li>
                    <li><a href="http://2txfhkm7e8mznv94d55j.repolitica.com.br/Content/themes/images/midia-estadao.png" target="_blank"><img src="/img/midia/estadao.png" /></a></li>
                    <li><a href="http://super.abril.com.br/blogs/planeta/portal-repolitica-volta-para-facilitar-o-voto-consciente/" target="_blank"><img src="/img/midia/super.png" /></a></li>
                    <li><a href="http://2txfhkm7e8mznv94d55j.repolitica.com.br/Content/themes/images/midia-valor.png" target="_blank"><img src="/img/midia/valor.png" /></a></li>
                    <li><a href="http://2txfhkm7e8mznv94d55j.repolitica.com.br/Content/themes/images/midia-odia.png" target="_blank"><img src="/img/midia/odia.png" /></a></li>
                    <li><a href="http://exame.abril.com.br/tecnologia/noticias/site-sugere-candidato-a-partir-de-perfil-de-usuario" target="_blank"><img src="/img/midia/exame.png" /></a></li>
                    <li><a href="http://info.abril.com.br/noticias/internet/site-sugere-candidato-a-partir-de-perfil-de-usuario-30082012-22.shl" target="_blank"><img src="/img/midia/info.png" /></a></li>
                    <li><a href="http://noticias.terra.com.br/brasil/politica/eleicoes/site-encontra-candidato-que-mais-combina-com-ideias-do-eleitor,292edf0a2566b310VgnCLD200000bbcceb0aRCRD.html" target="_blank"><img src="/img/midia/terra.png" /></a></li>
                    <li><a href="http://www.jb.com.br/eleicoes-2012/noticias/2012/08/15/site-ajuda-eleitores-a-identificar-candidatos-que-tenham-o-seu-perfil/" target="_blank"><img src="/img/midia/jb.png" /></a></li>
                    <li><a href="https://catracalivre.com.br/geral/cidadania/indicacao/site-encontrar-candidato-com-o-perfil-que-mais-agrada-o-eleitor/" target="_blank"><img src="/img/midia/catracalivre.png" /></a></li>
                    <li><a href="http://planetasustentavel.abril.com.br/blog/blog-da-redacao/portal-repolitica-precisa-da-sua-ajuda-para-facilitar-o-voto-consciente/" target="_blank"><img src="/img/midia/planeta.png" /></a></li>
                    <li><a href="http://www.hypeness.com.br/2012/05/ferramenta-ajuda-a-encontrar-um-candidato-com-o-seu-perfil-politico/" target="_blank"><img src="/img/midia/hypeness.png" /></a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
</div>

<div ng-include src='"partials/footer.html"'></div>
