<div ng-include src='"partials/header/main.html"'></div>

<div class="fundo-cinza">
    <div class="container">
        <div class="row">
        <div class="col-xs-12">
            <div class="institucional">
                <div class="row">
                    <div class="col-sm-9">
                        <h2>A mais abrangente enciclopédia sobre políticos brasileiros, criada para reunir num lugar só as informações importantes sobre nossos homens públicos e ajudar o eleitor a acompanhar, avaliar e decidir seu voto sem ficar refém da propaganda política.</h2>
                        <h1 class="primeiro-h1">O que é o Repolítica</h1>
                        <p>De presidentes a vereadores do interior do Amapá, todos os políticos do Brasil estão no Repolítica. É uma enciclopédia colaborativa, que reúne tanto informações de fontes oficiais, como o TSE, a Câmara, o Senado e o Transparência Brasil, quanto informações acrescentadas pelos próprios cidadãos e políticos, como opiniões e ideologias.</p>
                        <p>Por ser aberto e colaborativo, o Repolítica traça um panorama completo sobre cada político que vai bem além das informações oficiais, mas mantendo um caráter neutro e apartidário.</p>
                        <p>No Repolítica você pode, por exemplo, ver - e acrescentar - a opinião de um senador sobre meritocracia, maioridade penal, bolsa família, ou sua posição no espectro ideológico, ou ainda vídeos de entrevistas e debates.</p>
                        <h1>E nas eleições?</h1>
                        <p>O Repolítica é especialmente relevante para a busca por candidatos ao legislativo - especialmente deputados e vereadores. Como são milhares de candidatos, é praticamente impossível fazer uma escolha informada. O tempo de TV de cada um é ínfimo e não ajuda na decisão. Mesmo quem possui um candidato em quem vota com convicção não nota que existem diversos outros que podem ser tão ou mais compatíveis com suas ideias.</p>
                        <p>Através do teste de compatibilidade, o Repolítica oferece uma alternativa. Num questionário curto, com não mais de 20 perguntas, você escolhe suas posições ideológicas e sua opinião sobre diversos temas que são debatidos no Brasil hoje. O Repolítica compara suas escolhas com as posições ideológicas e opiniões de todos os candidatos ao cargo selecionado e cria uma lista dos mais compatíveis.</p>
                        <p>Não recomendamos que você vote necessariamente no candidato que aparecer no topo da lista, mas que a use como um filtro: investigue mais sobre os 10 primeiros, e talvez dali você encontre alguém cujas ideias estão em perfeita sintonia com as suas - e você nem conhecia.</p>
                        <h1>E nas eleições?</h1>
                        <p>Queremos que o Repolítica vá além de uma ferramenta de informação política, e que se torne também uma ferramenta de interação política. 
</p>
						<p>Além de seu lado colaborativo e do teste de compatibilidade, pelo Repolítica você pode fazer perguntas diretas a todos os políticos que se cadastraram. E nós informamos quantas das perguntas feitas foram de fato respondidas.</p>
                        <p>Outras ferramentas vão ser pensadas e incorporadas ao Repolítica, sempre com o objetivo de tornar a política mais transparente e acessível a todos.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div ng-include src='"partials/footer.html"'></div>
