<div ng-include src='"partials/header/main.html"'></div>
<div class="fundo-cinza">
    <div class="container">
        <div class="row">
        <div class="col-xs-12">
            <div class="institucional">
                <div class="row">
                    <div class="col-sm-9">
                        <h1 class="primeiro-h1">Política de privacidade</h1>

            <h3>

                1. Repolítica não divulga a terceiros informações pessoais fornecidas pelos usuários

                sem autorização.</h3>

            <p>

                <strong>1.</strong> Essas informações são obtidas através de cookies ou sistemas

                similares, ou ainda, fornecidas pelo próprio usuário e utilizadas, somente mediante

                autorização do usuário, para:</p>

            <p>

                1.1. Enviar e-mails com comunicações oficiais, notícias ou informações.</p>

            <p>

                1.2. Comunicar concursos, promoções ou prêmios.</p>

            <p>

                1.3. Realizar pesquisas.</p>

            <h3>

                2. O que pode ser divulgado</h3>

            <p>

                <strong>1.</strong> Repolítica também fará uso de informações estatísticas (tipo

                de browser, idade, nacionalidade, sexo, profissão, correlações de votos, posições

                políticas etc) para melhorar suas funcionalidades e para uso em pesquisas. Estas

                pesquisas podem vir a ser divulgadas a terceiros, mas nunca de maneira a identificar

                o usuário nem pelo nome pessoal, nem por login ou de qualquer outra forma.</p>

            <p>

                <strong>2.</strong> O seu Perfil no Repolítica, a partir da sua indicação de preferências

                políticas, pode ser encontrado por outros usuários. Mas entre as preferências políticas

                não serão identificados dados de preferências partidárias ou de candidatos, a não

                ser que você autorize isto.</p>

            <p>

                <strong>3.</strong> A sua imagem de identificação no Perfil, fornecida por você

                espontaneamente, será exibida no seu Perfil e em todos os lugares onde seu Perfil

                aparecer.</p>

            <p>

                <strong>4.</strong> As disposições apresentadas nesta Política de Privacidade não

                se aplicam a usuários políticos no que se refere a não identificá-los individualmente

                quanto a dados que possam ser considerados úteis na escolha de um candidato. Excluem-se

                desta possibilidade de divulgação apenas dados pessoais como telefones de contato

                e emails não públicos.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div ng-include src='"partials/footer.html"'></div>
