<div ng-include src='"partials/header/main.html"'></div>

<div class="fundo-cinza">
    <div class="container">
        <div class="row">
        <div class="col-xs-12">
            <div class="institucional">
                <div class="row">
                    <div class="col-sm-9">
                        <h1 class="primeiro-h1">Quem somos</h1>
                        <h2>Somos uma startup social que desenvolve plataformas para estimular cidadãos a conhecerem e interagirem com a classe política.</h2>
                        <p>Um dos principais problemas da política brasileira é a falta de identificação do cidadão comum com seus representantes. Mesmo quando estamos mais engajados, como nas manifestações de 2013, a rejeição homogênea à classe política ainda predomina, e acaba prejudicando os que tentam fazer a diferença.</h2>
                        <p>Uma das razões para isso é que a informação sobre eles está muito dispersa e pouco amigável, e o contato com eles parece ser mais difícil do que realmente é. Nossas plataformas resolvem problemas como esses.</p>
                        <p>O Repolítica tem a ambiciosa meta de ser uma enciclopédia completa sobre cada político brasileiro. Ele vai crescer pouco a pouco, reunindo informações sobre políticos dispersas entre as mais diversas fontes, complementado por colaborações wiki dos próprios usuários e dos próprios políticos. E além do Repolítica, desenvolvemos mais 2 ferramentas:</p>
                        <ul class="ferramentas">
                            <li><strong>O <a href="https://www.alopolitico.com.br/#/gerenciador" target="_blank">Gerenciador Alô Político</a></strong>, um sistema de gestão de gabinetes políticos com ferramentas que facilitam o feedback do político para a população.</li>
                            <li><strong>O Alô Político</strong>, que vai ser lançado em breve, uma plataforma em que os cidadãos podem entrar em contato e avaliar o atendimento dosr políticos.</li>
                        </ul>
                        <p>Somos 4 empreendedores unidos em torno desse objetivo:</p>
                        <ul>
                            <li><strong>Daniel Veloso</strong> é designer com pós-graduação em marketing, idealizador da semente inicial do Repolítica e responsável pelas nossas estratégias, finanças e planejamento.</li>
                            <li><strong>Rodrigo Rego</strong> é designer especializado em interação, e é o criador da interface dos nossos projetos.</li>
                            <li><strong>Eduardo Nicodemos</strong> é engenheiro de computação e o desenvolvedor-chefe do Gerenciador Alô Político.</li>
                            <li><strong>Raphael Leng Li</strong> é engenheiro de computação e o desenvolvedor-chefe do próprio Repolítica.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div ng-include src='"partials/footer.html"'></div>
