
    <div ng-include src='"/partials/header/main.html"'></div>

    <div class="fundo-cinza">
        <div class="container">
            <div class="row">
            <div class="col-xs-12">
                <div class="institucional">
                	<div class="row">
                    	<div class="col-sm-9">
                            <h1 class="primeiro-h1">

                    Atenção</h1>

                <p>

                    Este site realiza um mero levantamento de opiniões e não se trata de uma pesquisa

                    eleitoral prevista no artigo 33 da Lei nº 9504/97.</p>

                <p>

                    Estando de acordo com o previsto no parágrafo 1º do artigo 2º da Resolução TSE 23.364</p>

                <p>

                    Resolução TSE 23.364:<br />

                    Art. 2o Não estão sujeitas a registro as enquetes ou sondagens.<br />

                    § 1o Na divulgação dos resultados de enquetes ou sondagens, deverá ser informado

                    que não se trata de pesquisa eleitoral, prevista no art. 33 da Lei no 9.504/97,

                    e sim de mero levantamento de opiniões, sem controle de amostra, o qual não utiliza

                    método científico para a sua realização, dependendo, apenas, da participação

                    espontânea do interessado.<br />

                    § 2o A divulgação de resultados de enquetes ou sondagens sem os esclarecimentos

                    previstos no parágrafo anterior constitui divulgação de pesquisa eleitoral sem

                    registro e autoriza a aplicação das sanções previstas nesta resolução.

                </p>

                <h1>

                    Termos de uso</h1>

                <h3>

                    1. Definição do Site</h3>

                <p>

                    O site Repolítica é uma ferramenta que apresenta informações e faz comparações entre

                    políticos, visando ajudar o eleitor a escolher seu candidato e acompanhar os políticos

                    eleitos. O objetivo é reunir informações imparciais sobre todos os candidatos e

                    permitir ao eleitor opinar sobre eles. De forma alguma o site busca ser um veículo

                    para propaganda eleitoral, nem gratuita e nem paga, servindo apenas como um canal

                    de comunicação igualitário entre eleitores e candidatos, que permite comparações

                    e opiniões.</p>

                <p>

                    Sabendo disso você concorda com estes Termos.</p>

                <p style="color: red">

                    Atenção: o não cumprimento destes termos pode levar à suspensão ou banimento da

                    sua conta no Site além de processos judiciais. Ao usar o site Repolítica para opinar,

                    fazer o teste, comentar, cadastrar-se, jogar ou qualquer função que o Site permita,

                    você assume concordar com os Termos de Uso e a Política de Privacidade.</p>

                <h3>

                    2. Definição de termos específicos</h3>

                <p>

                    <strong>1.</strong> Administração do Site ou Administração: conjunto de pessoas

                    e/ou empresa responsáveis pela administração e manutenção do Site Repolítica.</p>

                <p>

                    <strong>2.</strong> API: é uma Interface de Programação de Aplicativos (tradução)

                    e permite a outros usuários e sites acessarem os dados do Repolítica sem necessariamente

                    estarem constantemente acessando o Repolítica em si. Nesta categoria estamos incluindo

                    qualquer tipo de sistema que permita esse tipo de função, sejam web services, widgets

                    ou outros.</p>

                <p>

                    <strong>3.</strong> Cadastro ou cadastro comum: cadastro feito pelo usuário no Site

                    para administrar seu próprio perfil, acrescentar mais informações e/ou opinar no

                    perfil de outros usuários.</p>

                <p>

                    <strong>4.</strong> Cadastro pago: forma de cadastro disponível para usuários políticos

                    que lhes fornece a possibilidade de acesso a dados relativos ao seu perfil. Este

                    cadastro não é obrigatório.</p>

                <p>

                    <strong>5.</strong> Opinião: é a forma de manifestação dos usuários do Repolítica

                    sobre os usuários políticos. Estas opiniões podem ser dadas de forma objetiva ou

                    discursiva e pertencem a seus próprios autores.</p>

                <p>

                    <strong>6.</strong> Perfil: página pessoal do usuário que é ou pode ser exibida

                    publicamente.</p>

                <p>

                    <strong>7.</strong> Período eleitoral: período iniciado no começo de Julho, com

                    a autorização do TSE para divulgação de candidaturas e início da propaganda eleitoral

                    e que termina em Outubro, no último dia de eleições.</p>

                <p>

                    <strong>8.</strong> Ranking de políticos: sistema auxiliar de comparação do Site,

                    que compara candidatos de acordo com quesitos específicos.</p>

                <p>

                    <strong>9.</strong> Relatórios: arquivos com dados relativos ao perfil do próprio

                    político e suas relações com usuários do Site.</p>

                <p>

                    <strong>10.</strong> Site: o termo, usado para designar páginas na internet em geral,

                    neste caso específico se refere ao site Repolítica.</p>

                <p>

                    <strong>11.</strong> Teste ou teste do candidato: sistema próprio do Site que compara

                    os candidatos e políticos entre si, com base em um questionário respondido pelo

                    usuário.</p>

                <p>

                    <strong>12.</strong> Usuário: qualquer pessoa que use o Repolítica para qualquer

                    finalidade.</p>

                <p>

                    <strong>13.</strong> Usuário comum: usuário que usa o Repolítica para comparar políticos,

                    expressar suas opiniões sobre eles e atividades correlatas.</p>

                <p>

                    <strong>14.</strong> Usuário político: usuário que usa o Repolítica para divulgar

                    seu partido, sua candidatura, seus mandatos (passados e presentes) e/ou atividades

                    correlatas. Como administrador da conta de usuário político incluem-se os próprios

                    políticos, partidos e assessores de campanha. Todo usuário político também é um

                    usuário comum.</p>

                <p>

                    <strong>15.</strong> Voluntário do Repolítica ou Voluntário: qualquer pessoa ou

                    instituição que preste serviço ou forneça ajuda à Administração na condução das

                    operações relativas ao Site. Esta atividade não é remunerada, a não ser quando formalmente

                    acordado, não fazendo estas pessoas ou entidades parte permanente da Administração

                    do Repolítica.</p>

                <h3>

                    3. A origem das informações</h3>

                <p>

                    <strong>1.</strong> As informações apresentadas no site não são baseadas em opiniões

                    da Administração. Elas são obtidas de fontes externas: ONGs, sites governamentais,

                    revistas, jornais, entre outros. Além, é claro, das informações fornecidas por usuário.

                    Logo, todas as informações e opiniões apresentadas no Site pertencem aos seus respectivos

                    emissores, que respondem civil e penalmente por elas, sendo o Repolítica apenas

                    um veículo de apresentação e comparação desses dados, que não pode ser responsabilizado

                    por eles. A Administração não necessariamente concorda ou discorda de nenhuma opinião

                    e não necessariamente faz moderação das opiniões dos usuários.</p>

                <p>

                    <strong>2.</strong> Contudo, os dados presentes no Repolítica, ainda que não pertençam

                    à Administração, foram catalogados pela Administração do site, que empenhou esforços

                    para tal. Portanto, ainda que o acesso às informações seja livre, a sua publicação

                    em outros sites na internet e veículos é proibida no todo ou em parte, sem a prévia

                    autorização da Administração. Exceção para aquelas publicações que, autorizadas

                    pela Administração, além de citar o site Repolítica como fonte dos dados, não reproduzam

                    os dados de forma a substituir a necessidade de acesso ao Repolítica.</p>

                <h3>

                    4. As definições de conceitos</h3>

                <p>

                    Para facilitar a organização das informações e permitir que os usuários tenham uma

                    mesma base para comparação foi necessário criar definições para os conceitos usados

                    no Site, como posições econômicas e ideológicas, prioridades etc. Definições estas

                    que não se pretendem absolutas e inequívocas, mas que são explicitadas para fins

                    de balizamento.</p>

                <p>

                    Logo, o uso do Site demanda a concordância com essas definições, que são apresentadas

                    no contexto das funcionalidades relativas a cada conceito. Essas definições apenas

                    não são apresentadas quando o entendimento do conceito for evidente a partir do

                    senso comum.</p>

                <h3>

                    5. Quem é você</h3>

                <p>

                    <strong>1.</strong> Você é quem declara ser no seu cadastro e em todos os outros

                    lugares no Site em que você declara sua identidade.</p>

                <p>

                    <strong>2.</strong> Você é maior de idade ou tem autorização dos seus responsáveis

                    para usar o site Repolítica e o está acessando de uma região onde sua exibição não

                    está proibida.</p>

                <p>

                    <strong>3.</strong> A imagem fornecida para o perfil retrata você, eleitor ou político

                    dono do perfil, ou você possui os direitos sobre ela e ela não infringe nenhuma

                    lei.</p>

                <h3>

                    6. Direitos do usuário comum</h3>

                <p>

                    <strong>1.</strong> Acessar todas as áreas e informações disponíveis para o público

                    em geral ou para o seu cadastro.</p>

                <p>

                    <strong>2.</strong> Opinar em qualquer questão disponível para o público em geral

                    ou para o seu cadastro, desde que pessoalmente, de forma identificada e sem o uso

                    de qualquer sistema automatizado de acesso.</p>

                <p>

                    <strong>3.</strong> Fazer ou responder comentários em Perfis e fóruns, assumindo

                    responsabilidade legal por eles.</p>

                <p>

                    <strong>4.</strong> Apontar falhas e dar sugestões, mas sem esperar qualquer tipo

                    de remuneração por isso.</p>

                <p>

                    <strong>5.</strong> Usar a API ou Widget do Repolítica de acordo com as restrições

                    e determinações exigidas, sempre citando a fonte dos dados de forma amplamente visível.</p>

                <h3>

                    7. Deveres do usuário comum</h3>

                <p>

                    <strong>1.</strong> Não fornecer informações falsas a outros usuários ou à Administração

                    do site, devendo responder judicialmente se o fizer.</p>

                <p>

                    <strong>2.</strong> Fornecer apenas informações atualizadas sobre si à Administração,

                    e atualizá-las sempre que elas se tornem ultrapassadas.</p>

                <p>

                    <strong>3.</strong> Não atacar a vida pessoal de nenhum usuário.</p>

                <p>

                    <strong>4.</strong> Não fazer spam ou floods.</p>

                <p>

                    <strong>5.</strong> Não usar, sem autorização, imagens ou nomes com direitos autorais

                    que não lhe pertençam. Você será responsabilizado se o fizer, inclusive legalmente.</p>

                <p>

                    <strong>6.</strong> Não apresentar no Site conteúdo ilegal (ou cuja exibição infrinja

                    alguma lei), obsceno ou sobre o qual não tenha direitos autorais.</p>

                <p>

                    <strong>7.</strong> Não usar o Site para quaisquer fins ilegais ou não autorizados;</p>

                <p>

                    <strong>8.</strong> Não promover, auxiliar, realizar ou participar de votações massivas

                    por meio do uso de sistemas automatizados, empresas especializadas ou usuários contratados

                    para esse fim.</p>

                <p>

                    <strong>9.</strong> Não remunerar ou oferecer nenhum tipo de vantagem a outros usuários

                    em troca de opiniões em algum Perfil.</p>

                <p>

                    <strong>10.</strong> Não acessar o site por meio de robôs ou outros métodos automatizados.</p>

                <p>

                    <strong>11.</strong> Não disfarçar, de nenhuma maneira, seu endereço IP durante

                    a conexão com o site.</p>

                <p>

                    <strong>12.</strong> Evitar qualquer ação potencialmente danosa ao Site, seus usuários

                    ou à Administração.</p>

                <p>

                    <strong>13.</strong> Zelar pelas informações de acesso a sua conta no Site como

                    login, email, senhas e correlatos. Você é o responsável por elas e a Administração

                    não se responsabiliza pela sua eventual falta de cuidado com essas informações.</p>

                <p>

                    <strong>14.</strong> Acompanhar as atualizações de regras, funções, textos, termos

                    legais, definições do site e qualquer outra alteração que possa afetar o seu uso

                    do Site.</p>

                <p>

                    <strong>15.</strong> Liberar de qualquer forma de restrição a apresentação das suas

                    opiniões no Site ou em projetos correlatos ao Repolítica, desde que não se contradiga

                    a Política de Privacidade.</p>

                <p>

                    <strong>16.</strong> Aceitar que sua participação no Site pode levar à exposição

                    a conteúdos que você pode considerar ofensivos de alguma forma, e que, a este respeito,

                    utiliza o site por sua própria conta e risco.</p>

                <p>

                    <strong>17.</strong> O usuário não poderá (nem permitir a outrem) copiar, modificar,

                    criar uma obra derivada de, realizar engenharia reversa, descompilar ou, de qualquer

                    outro modo, tentar extrair o código-fonte de qualquer parte do Site, a menos que

                    seja expressamente permitido e previsto por lei, ou que o usuário tenha sido especificamente

                    autorizado por escrito a fazê-lo pela Administração.</p>

                <p>

                    <strong>18.</strong> Conceder, ao enviar, publicar ou exibir conteúdo, à Administração

                    uma licença irrevogável, perpétua, mundial, isenta de royalties e não exclusiva

                    de reproduzir, adaptar, modificar, traduzir, publicar, distribuir publicamente,

                    exibir publicamente e distribuir qualquer conteúdo que o usuário enviar, publicar

                    ou exibir no Site ou em projetos correlatos.</p>

                <h3>

                    8.Direitos do usuário político</h3>

                <p>

                    <strong>1.</strong> Usar as ferramentas do Site para apresentar informações verdadeiras

                    sobre si mesmo, seu partido, sua campanha e seus mandatos.</p>

                <p>

                    <strong>2.</strong> Usar as ferramentas do Site para apresentar informações e opiniões

                    sobre si e sobre outros usuários políticos, desde que assumindo a responsabilidade

                    por elas.</p>

                <p>

                    <strong>3.</strong> Censurar opiniões de usuários na sua aba “Mural” do Perfil,

                    desde que assumindo claramente a autoria da censura.</p>

                <p>

                    <strong>4.</strong> Apontar falhas e dar sugestões, mas sem esperar qualquer tipo

                    de remuneração por isso.</p>

                <p>

                    <strong>5.</strong> Cadastrar-se gratuitamente para administrar o próprio Perfil

                    incluindo informações que achar pertinentes, além de qualquer outra funcionalidade

                    disponível aos usuários políticos de forma gratuita.</p>

                <p>

                    <strong>6.</strong> Fazer um cadastro pago, que lhe permitirá usar funções de análise

                    de dados exclusivas.</p>

                <p class="subitem">

                    6.1. Os cadastros pagos não garantem nenhum tipo de destaque ao usuário político

                    em qualquer setor do Site, apenas o acesso a ferramentas de análise dos acessos

                    e interações com seu Perfil.</p>

                <p class="subitem">

                    6.2. A obrigação de trazer visitantes ao seu Perfil é do próprio usuário político,

                    não da Administração ou do Site, e a melhor maneira de conseguir isso é divulgando

                    seu perfil e o Repolítica em si. O cadastro gratuito ou pago não garantem ao político

                    qualquer fluxo mínimo de visitas ao seu Perfil, apenas o potencial de acesso a ele.</p>

                <p class="subitem">

                    6.3. O período para acesso às ferramentas disponíveis aos cadastros pagos é explicitado

                    em locais apropriados, próximos às ferramentas. Quando não explicitado, o período

                    padrão de acesso é o período eleitoral mais próximo da data de compra do cadastro

                    pago.</p>

                <p class="subitem">

                    6.4. O período de acesso às ferramentas do cadastro pago é indivisível, assim como

                    o valor a ser pago por ele. Portanto, comprar um cadastro pago após o início do

                    período eleitoral ou deixar de usá-lo antes do fim do período eleitoral não geram

                    descontos sobre o preço final do cadastro pago.</p>

                <p>

                    <strong>7.</strong> Comprar Relatórios específicos sobre o seu Perfil.</p>

                <p class="subitem">

                    7.1. Da mesma forma que o cadastro pago, comprar Relatórios não garante qualquer

                    tipo de destaque ao usuário político em qualquer setor do Site.</p>

                <p class="subitem">

                    7.2. A Administração não garante que o conteúdo dos Relatórios vai necessariamente

                    satisfazer aos anseios e necessidades do usuário que os comprar.</p>

                <p class="subitem">

                    7.3. A compra desses Relatórios só é permitida aos próprios usuários políticos a

                    quem o Relatório se refira.</p>

                <h3>

                    9. Deveres do usuário político</h3>

                <p>

                    <strong>1.</strong> Não fornecer informações falsas aos usuários ou à Administração,

                    podendo receber punições dentro do Site e ainda responder judicialmente se o fizer.</p>

                <p>

                    <strong>2.</strong> Zelar pelas informações de acesso a sua conta no Site. Você

                    é o responsável por elas e a Administração não se responsabiliza pela sua eventual

                    falta de cuidado com essas informações.</p>

                <p>

                    <strong>3.</strong> Informar imediatamente à Administração sobre erros no Site relativos

                    às informações no seu Perfil ou de outros.</p>

                <p>

                    <strong>4.</strong> Não fazer spam ou floods.</p>

                <p>

                    <strong>5.</strong> Evitar qualquer ação potencialmente danosa ou incômoda ao Site,

                    seus usuários ou à Administração.</p>

                <p>

                    <strong>6.</strong> Não promover, auxiliar, realizar ou participar de votações massivas por

                    meio do uso de sistemas automatizados, empresas especializadas ou usuários contratados

                    para esse fim.</p>

                <p>

                    <strong>7.</strong> Não remunerar ou oferecer nenhum tipo de vantagem a usuários

                    em troca de opiniões específicas em algum Perfil.</p>

                <p>

                    <strong>8.</strong> Não acessar o Site por meio de robôs ou métodos automatizados.</p>

                <p>

                    <strong>9.</strong> Não disfarçar, de nenhuma maneira, seu endereço IP durante a

                    conexão com o Site.</p>

                <p>

                    <strong>10.</strong> Acompanhar as atualizações de regras, funções, textos, Termos

                    Legais, definições do Site e qualquer outra alteração que possa afetar o seu uso

                    do Site.</p>

                <p>

                    <strong>11.</strong> Manter-se atualizado sobre tudo que acontece com o seu Perfil

                    e sua conta no Site, desde erros até mau uso e vandalismo por parte de outros usuários.

                    Caberá ao usuário político então avisar à Administração sobre falhas e incidentes

                    ocorridos.</p>

                <p>

                    <strong>12.</strong> Manter cadastrado no site de forma disponível à Administração

                    um e-mail ativo, funcional e frequentemente acessado. É por ele que a Administração

                    vai enviar a maioria ou totalidade das comunicações sobre o Repolítica, além de

                    outras informações de interesse do usuário político.</p>

                <p>

                    <strong>13.</strong> Manter cadastrado no site de forma disponível à Administração

                    um telefone ativo, funcional e frequentemente usado. É por ele que poderão acontecer

                    algumas comunicações emergenciais.</p>

                <p>

                    <strong>14.</strong> Não pedir votos antes do período previsto em lei, sendo o usuário

                    político integral e único responsável pelo fato. A Administração não tem o dever

                    e nem meios para identificar previamente as violações nesse sentido, cabendo a ela

                    agir apenas quando for notificada.</p>

                <p>

                    <strong>15.</strong> Não fazer propaganda eleitoral dentro do site Repolítica, sendo

                    o candidato integral e único responsável pelo fato. A administração do site não

                    tem o dever e nem meios para identificar previamente as violações nesse sentido,

                    cabendo a ela agir apenas quando for notificada.</p>

                <h3>

                    10.Direitos da Administração</h3>

                <p>

                    <strong>1.</strong> Negar a exibição, uso ou acesso ao Site, no todo ou em parte,

                    a critério da Administração, a qualquer momento para qualquer pessoa ou entidade,

                    sem aviso prévio ou posterior, como sanção pelo não cumprimento dos termos acordados

                    nos Termos de Uso, ou por outras razões julgadas pertinentes pela Administração.</p>

                <p>

                    <strong>2.</strong> Recusar o provimento de serviço, pago ou gratuito, no todo ou

                    em parte, a critério da Administração, a qualquer momento para qualquer pessoa ou

                    entidade, sem aviso prévio ou posterior. Isto inclui a recusa em vender espaço publicitário.</p>

                <p>

                    <strong>3.</strong> Definir, redefinir ou cancelar as funções oferecidas, inteiras

                    ou em parte, a qualquer momento, sem aviso prévio ou posterior e a critério da Administração.</p>

                <p>

                    <strong>4.</strong> Definir, redefinir ou cancelar qualquer regra, informação ou

                    setor do Site, inteiros ou em parte, a qualquer momento, sem aviso prévio ou posterior

                    e a critério da Administração.</p>

                <p>

                    <strong>5.</strong> Modificar completa ou parcialmente, sem aviso prévio, os Termos

                    de Uso e Política de Privacidade do Site.</p>

                <p>

                    <strong>6.</strong> Modificar, excluir, acrescentar ou travar (impedir a edição)

                    de qualquer conteúdo disponível no site, a qualquer momento, sem aviso prévio ou

                    posterior e sob seus próprios critérios.</p>

                <p>

                    <strong>7.</strong> Remover, a qualquer momento, sem prévio aviso ou posterior,

                    sob seu próprio critério, em qualquer setor do Site, qualquer postagem, opinião,

                    comentário ou informação.</p>

                <p>

                    <strong>8.</strong> Descontinuar o site, a qualquer momento, sem aviso prévio ou

                    posterior e a critério da Administração.</p>

                <p>

                    <strong>9.</strong> Eximir-se de responsabilidade por eventuais imprecisões nos

                    dados fornecidos por nossas fontes de informação ou pelo nosso sistema de captura

                    de informações.</p>

                <p>

                    <strong>10.</strong> Não garantir a precisão dos conceitos apresentados no Site.</p>

                <p>

                    <strong>11.</strong> Não garantir que todas as informações cadastradas nos sites

                    de referência estarão imediatamente cadastradas no site Repolítica. Nem que seus

                    dados estarão imediatamente atualizados devido à diferença na freqüência de atualização

                    entre esses sites e o Repolítica.</p>

                <p>

                    <strong>12.</strong> Usar o Perfil do usuário político em quaisquer projetos ou

                    sites ligados ao Repolítica e sua API sem prévia solicitação e sem necessidade de

                    autorização do político para tal, uma vez que o cadastro no Site já confere tal

                    autorização do usuário político à Administração.</p>

                <p>

                    <strong>13.</strong> Usar qualquer dado do Site em quaisquer projetos ligados ao

                    Repolítica e sua API, inclusive com a possibilidade de fornecimento destes dados

                    a terceiros, desde que não se contradiga a Política de Privacidade do Repolítica.</p>

                <p>

                    <strong>14.</strong> Não fornecer a ninguém dados relativos ao número de acessos

                    ao Site, pageviews e informações similares.</p>

                <p>

                    14.1. É apenas garantida a divulgação de informações relativas aos acessos especificamente

                    das páginas de usuários políticos que usem alguma forma de cadastro pago do Site,

                    desde que a liberação destas informações esteja explicitada nas funcionalidades

                    oferecidas para aquele tipo específico de cadastro pago.</p>

                <p>

                    14.2. O solicitante só poderá ter acesso a informações que se referirem ao perfil

                    do próprio solicitante.</p>

                <p>

                    <strong>15.</strong> Manter armazenados os dados do usuário para backup, arquivo,

                    auditoria ou outro fim que a Administração achar pertinente, ainda que o usuário

                    tenha deletado tais dados ou mesmo seu próprio perfil e cadastro no site.</p>

                <p>

                    <strong>16.</strong> Não prestar suporte ou consultoria aos usuários do Site, exceto

                    em casos de problemas técnicos.</p>

                <h3>

                    11.Deveres da Administração</h3>

                <p>

                    <strong>1.</strong> Esclarecer a políticos e usuários, dúvidas relativas ao funcionamento

                    do Site.</p>

                <p>

                    <strong>2.</strong> Manter igualdade de condições de uso a todos os usuários cadastrados

                    no Site, desde que estes não estejam ou tenham infringido alguma regra do Site ou

                    da justiça. Ou ainda que estejam prejudicando ou tenham prejudicado o Site, seus

                    usuários ou a Administração.</p>

                <h3>

                    12.As conseqüências do uso do site e observações gerais</h3>

                <p>

                    <strong>1.</strong> A Administração não se responsabiliza pelo uso do Site e suas

                    conseqüências para usuários comuns e usuários políticos, sejam elas perdas morais,

                    financeiras ou materiais.</p>

                <p>

                    <strong>2.</strong> Não podemos garantir que o serviço prestado atenderá todas as

                    expectativas dos usuários.</p>

                <p>

                    <strong>3.</strong> Não podemos garantir o fornecimento do serviço de forma ininterrupta,

                    segura ou livre de erros.</p>

                <p>

                    <strong>4.</strong> Não podemos garantir que qualquer informação do site seja precisa

                    ou livre de erros.</p>

                <p>

                    <strong>5.</strong> Não podemos garantir que qualquer problema técnico ou conceitual

                    do Site vai ser resolvido.</p>

                <p>

                    <strong>6.</strong> O Teste para descobrir o "candidato ideal" é apenas uma sugestão

                    e a Administração não fornece garantia sobre sua eficácia.</p>

                <h3>

                    13.Considerações finais</h3>

                <p>

                    <strong>1.</strong> O usuário concorda que, se a Administração não exercer ou utilizar

                    qualquer direito legal ou direito reconhecido contido nestes Termos, isso não será

                    considerado renúncia, mantendo-se tais direitos disponíveis para todos os devidos

                    efeitos.</p>

                <p>

                    <strong>2.</strong> A invalidação de qualquer cláusula destes Termos Legais por

                    autoridade competente não invalida o documento como um todo.</p>

                <p>

                    <strong>3.</strong> Estes Termos de Uso podem ser alterados no todo ou em parte,

                    a critério da Administração, a qualquer momento, sem aviso prévio ou posterior.

                    A continuidade da utilização do Site pelo usuário demonstra a aceitação desses novos

                    Termos de Uso.</p>

                <p>

                    <strong>4.</strong> Os casos omissos serão solucionados de acordo com a legislação

                    em vigor, ficando eleito, desde já, o foro central da cidade do Rio de Janeiro,

                    para dirimir quaisquer questões oriundas do presente contrato, as quais não possam

                    ser resolvidas de comum acordo pelas partes.</p>

                    	</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div ng-include src='"partials/footer.html"'></div>