<div class="container">

    <div class="row">
        <div class="col-sm-6">
            <p class="perfil-edicao">
                <a href="" ng-click="voltar()">
                    <img src="img/nav/setinha-esquerda-cinza.png" />
                    voltar
                </a>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="topo-login">
                <img src="img/home/marca-login.png" />
                <p>Já tem conta? <a href="#!/login">Faça login</a></p>
            </div>
            <div class="box">
                <h1>Faça seu cadastro</h1>
                <form role="form" class="facebook" ng-show="false">
                    <button class="btn btn-lg btn-primary btn-block">Login via facebook</button>
                </form>
                <form role="form">
                    <div class="form-group">
                        <label>Nome</label>
                        <input type="text" class="form-control" ng-model="nome" ng-change="clearError()">
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" class="form-control" ng-model="email" ng-change="clearError()">
                    </div>
                    <div class="form-group">
                        <label>Repita seu email</label>
                        <input type="email" class="form-control" ng-model="emailrepetido" ng-change="clearError()">
                    </div>
                    <div class="form-group">
                        <label>Senha</label>
                        <input type="password" class="form-control" ng-model="password" ng-change="clearError()">
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="recebernovidades"/> Quero receber novidades do Repolítica
                        </label>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" ng-click="cadastrar()">Criar sua conta</button>
                    <p style="color:red" ng-show="error">{{error}}</p>
                    <p class="fineline">Ao cadastrar-se, você concorda com os <a href="/#!/termos-uso">Termos de uso</a>
                        e que leu e entendeu nossa <a href="/#!/politicas-privacidade">Política de privacidade</a>.
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>