
<div class="container">

	<div class="row">
        <div class="col-sm-6">
            <p class="perfil-edicao">
                <a href="" ng-click="voltar()">
                    <img src="img/nav/setinha-esquerda-cinza.png" />
                    voltar
                </a>
            </p>
        </div>
    </div>
    
    <div class="row">
        <div class="col-sm-7">
            <!--
    	<div class="col-sm-7 col-sm-offset-3">
    	-->
        	<div class="row">
                <div class="form-horizontal">
                    <div class="box">
                        <div class="alerta">
                            Já se cadastrou? <a href="https://repolitica.com.br/#!/loginpolitico">Faça login</a>.
                        </div>
                        <h1>Sua candidatura</h1>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Cargo</label>
                            <div class="col-sm-9">
                                <select class="form-control" ng-model="cargocandidatura"
                                        ng-options="cargo as cargo for cargo in cargos" ng-change="changeCargo()">
                                </select>
                            </div>
                        </div>
                        <div class="form-group" ng-show="showEstado">
                            <label class="col-sm-3 control-label">Estado</label>
                            <div class="col-sm-9">
                                <select class="form-control" ng-model="estado" ng-change="buscarPolitico()"
                                        ng-options="estado.sigla as estado.sigla for estado in estados">
                                </select>
                            </div>
                        </div>
                        <div class="form-group" ng-show="false">
                            <label class="col-sm-3 control-label">Cidade</label>
                            <div class="col-sm-9">
                                <select class="form-control">
                                    <option>Escolha uma cidade</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Seu número</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" ng-model="numero" ng-change="buscarPolitico()">
                                <img src="/img/loading2.gif" ng-show="loading"/>
                            </div>
                        </div>
                        <div class="politico-escolhido" ng-show="msg || politico">
                            <img ng-src="{{politico.imagemurl}}" ng-show="politico && politico.imagemurl"/>
                            <img src="/img/noimage.png" ng-show="!politico || !politico.imagemurl"/>
                            <div ng-show="!msg">
                                <h2><a href="{{politico.link}}" target="_blank">{{politico.nomecandidatura}}</a></h2>
                                <p>
                                    <span ng-bind-html="politico.textoCandidato"></span>
                                    {{politico.textoCargoLocal}}
                                </p>
                            </div>
                            <div ng-show="msg">
                                <h2>{{msg}}</h2>
                            </div>
                        </div>
                        <p class="fineline">Não é candidato? <a href="/#!/contato">Entre em contato conosco</a> para criar a sua página</p>
                    </div>
                    <div class="box box-final" ng-show="politicoSelecionado">
                        <h1>Dados para verificar sua autenticidade</h1>
                        <iframe ng-src="{{iframeUrl}}" class="iframe-pergunta"/>
                        <!--
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Telefone</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" ng-model="telefone" ng-change="clearError()">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Email</label>
                            <div class="col-sm-9">
                                <input type="email" class="form-control" ng-model="email" ng-change="clearError()">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Repita o email</label>
                            <div class="col-sm-9">
                                <input type="email" class="form-control" ng-model="emailrepetido" ng-change="clearError()">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Senha</label>
                            <div class="col-sm-6">
                                <input type="password" class="form-control" ng-model="password" ng-change="clearError()">
                            </div>
                        </div>
                        <button class="btn btn-lg btn-primary pull-left bt-secao" ng-click="cadastrar()">Criar minha conta</button>
                        <p class="gratis">É grátis!</p>
                        <br/><p style="color:red" ng-show="error">{{error}}</p>
                        <div class="clearfix"></div>
                        <p class="fineline">Ao se cadastrar, você concorda com os <a href="/#!/termos-uso">Termos de uso</a>
                            e que leu e entendeu nossa <a href="/#!/politicas-privacidade">Política de privacidade</a>.</p>
                            -->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="alopolitico">
                <img src="/img/cadastro/alopolitico.png" />
                <p>Você vai gerenciar seu perfil no Repolítica através do Alô Político. Veja as vantagens:</p>
                <h4>Grátis!</h4>
                <ul>
                    <li>Responda perguntas de eleitores que querem conhecê-lo.</li>
                    <li>Obtenha os contatos de quem quiser falar com você.</li>
                    <li>Complete seu perfil e atraia eleitores indecisos.</li>
                </ul>
                <h4>Por apenas R$ 350 por mês:</h4>
                <ul>
                    <li>Ferramenta completa de gestão da sua campanha.</li>
                    <li>Organize toda a sua base de contatos.</li>
                    <li>Gerencie tarefas dos seus assessores.</li>
                    <li>Envie campanhas de email e imprima etiquetas de carta.</li>
                </ul>
            </div>
        </div>
    </div>
</div>