
<div class="container">
    
    <div class="row">
    	<div class="col-sm-6 col-sm-offset-3">
        	<div class="topo-login">
            	<img src="img/home/marca-login.png" class="logo-outros" />
            </div>
        	<div class="box">
                <h1>Confirme seu email</h1>
                <p>Você vai receber uma mensagem no seu email em alguns segundos. Clique no link da mensagem para confirmar seu email e concluir seu cadastro de político.</p>
            </div>
            <p class="voltar-outros"><a href="/">voltar para a home</a></p>
        </div>
    </div>
</div>
