
<div class="container">
    
    <div class="row">
    	<div class="col-sm-6 col-sm-offset-3">
        	<div class="topo-login">
            	<img src="/img/home/marca-login.png" class="logo-outros" />
            </div>
        	<div class="box">
                <h1>Seu cadastro foi concluído!</h1>
                <p>Obrigado por participar da comunidade do Repolítica! Agora você pode editar seu perfil, incluindo suas opiniões, proposta, videos e biografia. Em breve, você poderá receber perguntas diretas dos cidadãos e respondê-las!</p>
                <button class="btn btn-primary btn-lg btn-block" ng-click="irPerfil()">Ir para meu perfil</button>
            </div>
            <p class="voltar-outros"><a href="/">voltar para a home</a></p>
        </div>
    </div>
</div>>