
<div class="container">
    
    <div class="row" ng-show="show">
    	<div class="col-sm-6 col-sm-offset-3">
        	<div class="topo-login">
            	<img src="img/home/marca-login.png" class="logo-outros" />
            </div>
        	<div class="box">
                <h1>Seu cadastro foi concluído!</h1>
                <p>Obrigado por participar da comunidade do Repolítica! Agora você pode editar o perfil dos políticos que você conhece e ajudar milhares de pessoas a decidir seu voto!</p>
                <button class="btn btn-primary btn-lg btn-block" onclick="window.location.href = '/#!/lista'">Ver políticos</button>
            </div>
            <p class="voltar-outros"><a href="/">voltar para a home</a></p>
        </div>
    </div>
</div>
